force-app/main/default/flows/Add_Opp_line_Item_to_Quote_line_Items.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>adding_single_into_collection_variable</name>
        <label>adding single into collection variable</label>
        <locationX>913</locationX>
        <locationY>509</locationY>
        <assignmentItems>
            <assignToReference>varCollectionlineItem</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSingleLineItem</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Updatelinteitemcollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>updatesinglelineitem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_all_line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_values</name>
        <label>assign values</label>
        <locationX>590</locationX>
        <locationY>511</locationY>
        <assignmentItems>
            <assignToReference>varSingleLineItem</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Collect_all_line_Items</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleLineItem.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleLineItem.Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updatesinglelineitem</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Collect_all_line_Items</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updatesinglelineitem.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>adding_single_into_collection_variable</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>null</name>
        <dataType>String</dataType>
    </constants>
    <decisions>
        <name>check_available_Line_Items</name>
        <label>check available Line Items</label>
        <locationX>478</locationX>
        <locationY>262</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_availability</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Opportunity_line_item</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_quote_record_type.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_quote.RecordTypeId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Collect_all_line_Items</targetReference>
            </connector>
            <label>Check availability</label>
        </rules>
    </decisions>
    <formulas>
        <name>gst</name>
        <dataType>Number</dataType>
        <expression>{!Collect_all_line_Items.GST__c}/100</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Add Opp line Item to Quote line Items {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Opp line Item to Quote line Items</label>
    <loops>
        <name>Collect_all_line_Items</name>
        <label>Collect all line Items</label>
        <locationX>701</locationX>
        <locationY>345</locationY>
        <collectionReference>get_Opportunity_line_item</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_lineitem</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_lineitem</name>
        <label>Create lineitem</label>
        <locationX>770</locationX>
        <locationY>103</locationY>
        <connector>
            <targetReference>update_Sync_line_item</targetReference>
        </connector>
        <inputReference>varCollectionlineItem</inputReference>
    </recordCreates>
    <recordLookups>
        <description>get record frm Opp.</description>
        <name>get_opportunity</name>
        <label>get opportunity</label>
        <locationX>227</locationX>
        <locationY>500</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Opportunity_line_item</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_quote.Opportunity__c</elementReference>
            </value>
        </filters>
        <object>Opportunity__c</object>
    </recordLookups>
    <recordLookups>
        <name>get_Opportunity_line_item</name>
        <label>get Opportunity line item</label>
        <locationX>339</locationX>
        <locationY>310</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_available_Line_Items</targetReference>
        </connector>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_opportunity.Id</elementReference>
            </value>
        </filters>
        <object>Line_Item__c</object>
    </recordLookups>
    <recordLookups>
        <name>get_quote</name>
        <label>get quote</label>
        <locationX>50</locationX>
        <locationY>322</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_quote_record_type</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Quote__c</object>
    </recordLookups>
    <recordLookups>
        <name>get_quote_record_type</name>
        <label>get quote record type</label>
        <locationX>130</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_opportunity</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sales</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Quote__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
    </recordLookups>
    <recordUpdates>
        <name>update_Sync_line_item</name>
        <label>update Sync line item</label>
        <locationX>1010</locationX>
        <locationY>102</locationY>
        <inputReference>Updatelinteitemcollection</inputReference>
    </recordUpdates>
    <startElementReference>get_quote</startElementReference>
    <status>Active</status>
    <variables>
        <name>Updatelinteitemcollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Line_Item__c</objectType>
    </variables>
    <variables>
        <name>updatesinglelineitem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Line_Item__c</objectType>
    </variables>
    <variables>
        <name>varCollectionlineItem</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Line_Item__c</objectType>
    </variables>
    <variables>
        <name>varSingleLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Line_Item__c</objectType>
    </variables>
</Flow>
