force-app/main/default/flows/Clone_Charges_From_Opportunity_to_Quote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_new_Charges_to_Charges_list</name>
        <label>Add new Charges to Charges list</label>
        <locationX>270</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>Clone_ChargesList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewCharges</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Charges_for_quote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clone_Charges</name>
        <label>Clone Charges</label>
        <locationX>270</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>NewCharges</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Charges_for_quote</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Field_Update_on_clone_Charges</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Field_Update_on_clone_Charges</name>
        <label>Field Update on clone Charges</label>
        <locationX>270</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>NewCharges.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCharges.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCharges.Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_new_Charges_to_Charges_list</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Charges_List</name>
        <label>Check Charges List</label>
        <locationX>380</locationX>
        <locationY>551</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Charges_List_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Charges_List</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_recordtypeof_quote.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.RecordType.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Charges_for_quote</targetReference>
            </connector>
            <label>Check Charges List Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Clone_Charges_List</name>
        <label>Check Clone Charges List</label>
        <locationX>182</locationX>
        <locationY>1247</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Clone_ChargesList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Charges_Record</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <interviewLabel>Clone Charges From Opportunity to Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Clone Charges From Opportunity to Quote</label>
    <loops>
        <name>Create_Charges_for_quote</name>
        <label>Create Charges For Quote</label>
        <locationX>182</locationX>
        <locationY>671</locationY>
        <collectionReference>Get_Charges_List</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Clone_Charges</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Clone_Charges_List</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Charges_Record</name>
        <label>Create Charges Record</label>
        <locationX>50</locationX>
        <locationY>1367</locationY>
        <inputReference>Clone_ChargesList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Charges_List</name>
        <label>Get Charges List</label>
        <locationX>380</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_recordtypeof_quote</targetReference>
        </connector>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <object>Charges__c</object>
    </recordLookups>
    <recordLookups>
        <name>get_recordtypeof_quote</name>
        <label>get recordtypeof quote</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Charges_List</targetReference>
        </connector>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Quote__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>sales</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
    </recordLookups>
    <startElementReference>Get_Charges_List</startElementReference>
    <status>Active</status>
    <variables>
        <name>Clone_ChargesList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Charges__c</objectType>
    </variables>
    <variables>
        <name>NewCharges</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Charges__c</objectType>
    </variables>
</Flow>
