force-app/main/default/flows/Create_Credit_Note.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>adding_single_into_collection</name>
        <label>adding single into collection</label>
        <locationX>754</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>varCollectionDeliveryNoteLineItem</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSingleDeliveryNote</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sorder_return_line_items_loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>adding_single_into_collection_variable</name>
        <label>adding single into collection variable</label>
        <locationX>138</locationX>
        <locationY>1286</locationY>
        <assignmentItems>
            <assignToReference>varCollectionDcNoteLineItem</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSingleDcNoteLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterating_sales_order_line_items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_to_dc_note_line_item</name>
        <label>Assign values to dc note line item</label>
        <locationX>250</locationX>
        <locationY>1114</locationY>
        <assignmentItems>
            <assignToReference>varSingleDcNoteLineItem.Doc_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>creditNoteDcRecordID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleDcNoteLineItem.CGST__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterating_sales_order_line_items.CGST__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleDcNoteLineItem.SGST__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterating_sales_order_line_items.SGST__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleDcNoteLineItem.IGST__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterating_sales_order_line_items.IGST__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleDcNoteLineItem.Part_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterating_sales_order_line_items.Part_Number__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleDcNoteLineItem.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterating_sales_order_line_items.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleDcNoteLineItem.Unit_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterating_sales_order_line_items.Unit_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleDcNoteLineItem.Discount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterating_sales_order_line_items.Discount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleDcNoteLineItem.Usage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterating_sales_order_line_items.Usage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleDcNoteLineItem.Specification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterating_sales_order_line_items.Specification__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleDcNoteLineItem.Remark__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterating_sales_order_line_items.Remark__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>adding_single_into_collection_variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_values_to_delivery_note_fields</name>
        <label>assign values to delivery note fields</label>
        <locationX>754</locationX>
        <locationY>1046</locationY>
        <assignmentItems>
            <assignToReference>varSingleDeliveryNote.CGST__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sorder_return_line_items_loop.CGST__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleDeliveryNote.CGST_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sorder_return_line_items_loop.CGST_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleDeliveryNote.SGST__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sorder_return_line_items_loop.SGST__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleDeliveryNote.SGST_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sorder_return_line_items_loop.SGST_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleDeliveryNote.IGST__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sorder_return_line_items_loop.IGST__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleDeliveryNote.IGST_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sorder_return_line_items_loop.IGST_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleDeliveryNote.Sales_Order_Dispatch_Delivery_Note__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>deliverynoteid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleDeliveryNote.Discount_Currency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sorder_return_line_items_loop.Discount_Currency__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleDeliveryNote.Net_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sorder_return_line_items_loop.Net_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleDeliveryNote.Part_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sorder_return_line_items_loop.Part_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleDeliveryNote.Product_Part__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sorder_return_line_items_loop.Part_Number__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleDeliveryNote.Unit_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sorder_return_line_items_loop.Unit_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleDeliveryNote.Taxable_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sorder_return_line_items_loop.Taxable_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleDeliveryNote.Discount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sorder_return_line_items_loop.Discount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleDeliveryNote.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sorder_return_line_items_loop.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleDeliveryNote.Specification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sorder_return_line_items_loop.Specification__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleDeliveryNote.Remark__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sorder_return_line_items_loop.Remark__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleDeliveryNote.Sales_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sorder_return_line_items_loop.Unit_Price__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>adding_single_into_collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_field_values</name>
        <label>check field values</label>
        <locationX>556</locationX>
        <locationY>326</locationY>
        <defaultConnector>
            <targetReference>Field_Needs_to_Update_Required</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>return</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_sales_order_return.State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Return</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_sales_order_return_line_item</targetReference>
            </connector>
            <label>return</label>
        </rules>
        <rules>
            <name>replacement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_sales_order_return.State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Replacement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_mrn</targetReference>
            </connector>
            <label>replacement</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_line_items</name>
        <label>check line items</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>No_Sales_order_Return_line_item</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_sales_order_return_line_item</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_record_type</targetReference>
            </connector>
            <label>valid</label>
        </rules>
    </decisions>
    <interviewLabel>Create Credit Note {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Credit Note</label>
    <loops>
        <name>Iterating_sales_order_line_items</name>
        <label>Iterating  sales order line items</label>
        <locationX>50</locationX>
        <locationY>1046</locationY>
        <collectionReference>get_sales_order_return_line_item</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_values_to_dc_note_line_item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>craete_dc_note_line_item</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>sorder_return_line_items_loop</name>
        <label>sorder return line items loop</label>
        <locationX>666</locationX>
        <locationY>926</locationY>
        <collectionReference>on_get_sales_order_return_line_item2</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_values_to_delivery_note_fields</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>create_delivery_note_line_items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>craete_dc_note_line_item</name>
        <label>craete dc note line item</label>
        <locationX>50</locationX>
        <locationY>1502</locationY>
        <connector>
            <targetReference>Credit_Note</targetReference>
        </connector>
        <inputReference>varCollectionDcNoteLineItem</inputReference>
    </recordCreates>
    <recordCreates>
        <name>create_credit_note</name>
        <label>create credit note</label>
        <locationX>50</locationX>
        <locationY>926</locationY>
        <assignRecordIdToReference>creditNoteDcRecordID</assignRecordIdToReference>
        <connector>
            <targetReference>Iterating_sales_order_line_items</targetReference>
        </connector>
        <inputAssignments>
            <field>Bill_To_Customer_Name__c</field>
            <value>
                <elementReference>get_sales_order_return.Bill_To_Customer_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Container_No__c</field>
            <value>
                <elementReference>get_sales_order_return.Container_No__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Party__c</field>
            <value>
                <elementReference>customerPartyLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Delivery_Term__c</field>
            <value>
                <elementReference>get_sales_order_return.Delivery_Term__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Detail__c</field>
            <value>
                <elementReference>get_sales_order_return.Detail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dispatch_To_Customer_Name__c</field>
            <value>
                <elementReference>get_sales_order_return.Dispatch_To_Customer_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LC_Date__c</field>
            <value>
                <elementReference>get_sales_order_return.LC_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LC_Expected_Date__c</field>
            <value>
                <elementReference>get_sales_order_return.LC_Expected_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LC_Term__c</field>
            <value>
                <elementReference>get_sales_order_return.LC_Term__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MRN__c</field>
            <value>
                <elementReference>get_sales_order_return.MRN__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Method__c</field>
            <value>
                <elementReference>get_sales_order_return.Payment_Method__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Term__c</field>
            <value>
                <elementReference>get_sales_order_return.Payment_Term__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>get_record_type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Officer__c</field>
            <value>
                <elementReference>get_sales_order_return.Sales_Officer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Order_Return__c</field>
            <value>
                <elementReference>SalesOrderReturnLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Account__c</field>
            <value>
                <elementReference>get_sales_order_return.Shipping_Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_City__c</field>
            <value>
                <elementReference>get_sales_order_return.Shipping_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Country__c</field>
            <value>
                <elementReference>get_sales_order_return.Shipping_Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_State_Province__c</field>
            <value>
                <elementReference>get_sales_order_return.Shipping_State_Province__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Street__c</field>
            <value>
                <elementReference>get_sales_order_return.Shipping_Street__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Zip_Postal_Code__c</field>
            <value>
                <elementReference>get_sales_order_return.Shipping_Zip_Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transportation_Mode__c</field>
            <value>
                <elementReference>get_sales_order_return.Transportation_Mode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transporter_Name__c</field>
            <value>
                <elementReference>get_sales_order_return.Transporter_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Validity_Days__c</field>
            <value>
                <elementReference>get_sales_order_return.Validity_Days__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vehicle_No__c</field>
            <value>
                <elementReference>get_sales_order_return.Vehicle_No__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Voucher_Date__c</field>
            <value>
                <elementReference>get_sales_order_return.Voucher_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>DC_Note__c</object>
    </recordCreates>
    <recordCreates>
        <name>create_delivery_note</name>
        <label>create delivery note</label>
        <locationX>666</locationX>
        <locationY>806</locationY>
        <assignRecordIdToReference>deliverynoteid</assignRecordIdToReference>
        <connector>
            <targetReference>sorder_return_line_items_loop</targetReference>
        </connector>
        <inputAssignments>
            <field>Customer_Party__c</field>
            <value>
                <elementReference>get_sales_order_return.Customer_Party__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LC_Date__c</field>
            <value>
                <elementReference>get_sales_order_return.LC_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LC_Expected_date__c</field>
            <value>
                <elementReference>get_sales_order_return.LC_Expected_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mode__c</field>
            <value>
                <elementReference>get_sales_order_return.Transportation_Mode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Order_Return__c</field>
            <value>
                <elementReference>get_sales_order_return.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Order__c</field>
            <value>
                <elementReference>get_mrn_line_item.Sales_Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Account__c</field>
            <value>
                <elementReference>get_sales_order_return.Shipping_Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_City__c</field>
            <value>
                <elementReference>get_sales_order_return.Shipping_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Country__c</field>
            <value>
                <elementReference>get_sales_order_return.Shipping_Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_State_Province__c</field>
            <value>
                <elementReference>get_sales_order_return.Shipping_State_Province__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Street__c</field>
            <value>
                <elementReference>get_sales_order_return.Shipping_Street__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Zip_Postal_Code__c</field>
            <value>
                <elementReference>get_sales_order_return.Shipping_Zip_Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transporter__c</field>
            <value>
                <elementReference>get_mrn.Transporter_Name__c</elementReference>
            </value>
        </inputAssignments>
        <object>Sales_Order_Dispatch_Delivery_Note__c</object>
    </recordCreates>
    <recordCreates>
        <name>create_delivery_note_line_items</name>
        <label>create delivery note line items</label>
        <locationX>666</locationX>
        <locationY>1382</locationY>
        <connector>
            <targetReference>Delivery_Note</targetReference>
        </connector>
        <inputReference>varCollectionDeliveryNoteLineItem</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_mrn</name>
        <label>get mrn</label>
        <locationX>666</locationX>
        <locationY>446</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>on_get_sales_order_return_line_item2</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_sales_order_return.MRN__c</elementReference>
            </value>
        </filters>
        <object>MRN__c</object>
    </recordLookups>
    <recordLookups>
        <name>get_mrn_line_item</name>
        <label>get mrn line item</label>
        <locationX>666</locationX>
        <locationY>686</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>create_delivery_note</targetReference>
        </connector>
        <filters>
            <field>MRN__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_mrn.Id</elementReference>
            </value>
        </filters>
        <object>MRN_Line_Item__c</object>
    </recordLookups>
    <recordLookups>
        <name>get_record_type</name>
        <label>get record type</label>
        <locationX>50</locationX>
        <locationY>686</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Credite_Note</targetReference>
        </connector>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DC_Note__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Credit Note</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
    </recordLookups>
    <recordLookups>
        <name>get_sales_order_return</name>
        <label>get sales order return</label>
        <locationX>556</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_field_values</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Sales_Order_Return__c</object>
    </recordLookups>
    <recordLookups>
        <name>get_sales_order_return_line_item</name>
        <label>get sales order return line item</label>
        <locationX>182</locationX>
        <locationY>446</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_line_items</targetReference>
        </connector>
        <filters>
            <field>Doc_No__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Sales_Order_Return_Line_Item__c</object>
    </recordLookups>
    <recordLookups>
        <name>on_get_sales_order_return_line_item2</name>
        <label>on get sales order return line item2</label>
        <locationX>666</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_mrn_line_item</targetReference>
        </connector>
        <filters>
            <field>Doc_No__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Sales_Order_Return_Line_Item__c</object>
    </recordLookups>
    <screens>
        <name>Create_Credite_Note</name>
        <label>Create Credit Note</label>
        <locationX>50</locationX>
        <locationY>806</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>create_credit_note</targetReference>
        </connector>
        <fields>
            <name>SalesOrderReturnLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Sales_Order_Return__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Sales Order Return</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>DC_Note__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>get_sales_order_return.Id</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>customerPartyLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Customer_Party__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Customer/Party</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>DC_Note__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>get_sales_order_return.Customer_Party__r.Id</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Credit_Note</name>
        <label>Credit Note</label>
        <locationX>50</locationX>
        <locationY>1722</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 18px; color: rgb(34, 195, 11);&quot;&gt;Credit Note Successfully Created&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Delivery_Note</name>
        <label>Delivery Note</label>
        <locationX>678</locationX>
        <locationY>1617</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessage_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(34, 195, 11); font-size: 18px;&quot;&gt;Delivery Note Successfully Created&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Field_Needs_to_Update_Required</name>
        <label>Field Needs to Update Required</label>
        <locationX>930</locationX>
        <locationY>446</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>displaymsg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 18px; color: rgb(222, 16, 16);&quot;&gt;Please Update Status Field. &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Sales_order_Return_line_item</name>
        <label>No Sales order Return line item</label>
        <locationX>314</locationX>
        <locationY>686</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrrorMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px; color: rgb(198, 5, 5);&quot;&gt;Please Add Sales Order Line Items to Create Credit Note&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>get_sales_order_return</startElementReference>
    <status>Active</status>
    <variables>
        <name>creditNoteDcRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>deliverynoteid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunityIdForScreen</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCollectionDcNoteLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DC_Note_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>varCollectionDeliveryNoteLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Delivery_Note_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>varSingleDcNoteLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DC_Note_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>varSingleDeliveryNote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Delivery_Note_Line_Item__c</objectType>
    </variables>
</Flow>
