force-app/main/default/flows/Create_Delivery_Note_And_Delivery_Note_line_Item.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Adding_delivery_record_to_list</name>
        <label>Adding delivery record to list</label>
        <locationX>407</locationX>
        <locationY>1103</locationY>
        <assignmentItems>
            <assignToReference>varCollectionDeliveryLineItem</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vardeliveryNoteLineItemRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iterating_sales_order_line_item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>adding_record_ids</name>
        <label>adding record ids</label>
        <locationX>50</locationX>
        <locationY>1887</locationY>
        <assignmentItems>
            <assignToReference>varSingleCharge.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleCharge.Sales_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleCharge.Delivery_Note__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>deliveryNoteId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Adding_Single_charge_to_collection_of_charges</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Adding_Single_charge_to_collection_of_charges</name>
        <label>Adding Single charge to collection of charges</label>
        <locationX>290</locationX>
        <locationY>1982</locationY>
        <assignmentItems>
            <assignToReference>varCollectionOfCharges</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSingleCharge</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iteration_get_charges_loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignment_of_line_item_fields</name>
        <label>assignment of line item fields</label>
        <locationX>539</locationX>
        <locationY>933</locationY>
        <assignmentItems>
            <assignToReference>vardeliveryNoteLineItemRecord.CGST__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iterating_sales_order_line_item.CGST__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vardeliveryNoteLineItemRecord.SGST__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iterating_sales_order_line_item.SGST__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vardeliveryNoteLineItemRecord.IGST__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iterating_sales_order_line_item.IGST__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vardeliveryNoteLineItemRecord.Discount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iterating_sales_order_line_item.Discount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vardeliveryNoteLineItemRecord.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iterating_sales_order_line_item.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vardeliveryNoteLineItemRecord.Product_Part__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iterating_sales_order_line_item.Product_Part__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vardeliveryNoteLineItemRecord.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iterating_sales_order_line_item.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vardeliveryNoteLineItemRecord.Sales_Order_Dispatch_Delivery_Note__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>deliveryNoteId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vardeliveryNoteLineItemRecord.Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iterating_sales_order_line_item.Unit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vardeliveryNoteLineItemRecord.Net_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iterating_sales_order_line_item.Total_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vardeliveryNoteLineItemRecord.List_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iterating_sales_order_line_item.List_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vardeliveryNoteLineItemRecord.HSN_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iterating_sales_order_line_item.HSN_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vardeliveryNoteLineItemRecord.Stock__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iterating_sales_order_line_item.Available_Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vardeliveryNoteLineItemRecord.Part_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iterating_sales_order_line_item.Product_Part__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vardeliveryNoteLineItemRecord.Part_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iterating_sales_order_line_item.Part_Name_formula__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vardeliveryNoteLineItemRecord.IGST_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iterating_sales_order_line_item.IGST_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vardeliveryNoteLineItemRecord.SGST_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iterating_sales_order_line_item.SGST_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vardeliveryNoteLineItemRecord.CGST_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iterating_sales_order_line_item.CGST_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vardeliveryNoteLineItemRecord.Sales_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iterating_sales_order_line_item.Unit_Price__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Adding_delivery_record_to_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>clone_charge_values</name>
        <label>clone charge values</label>
        <locationX>71</locationX>
        <locationY>1714</locationY>
        <assignmentItems>
            <assignToReference>varSingleCharge</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iteration_get_charges_loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>adding_record_ids</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_charges_ids</name>
        <label>check charges ids</label>
        <locationX>965</locationX>
        <locationY>1686</locationY>
        <defaultConnector>
            <targetReference>create_delivery_note_line_item</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>charge_ids_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Charges</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>iteration_get_charges_loop</targetReference>
            </connector>
            <label>charge ids not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_Sales_order_Line_Item_available</name>
        <label>check Sales order Line Item available</label>
        <locationX>422</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Error_No_Sales_Order_line_Item</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_availability</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varGetAllSalesOrderLineItem</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Delivery_Note</targetReference>
            </connector>
            <label>check availability</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_stage_of_sales_order</name>
        <label>check stage of sales order</label>
        <locationX>620</locationX>
        <locationY>326</locationY>
        <defaultConnector>
            <targetReference>Status_is_Not_Approved</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>stage_won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sales_Order.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_sales_order_line_item</targetReference>
            </connector>
            <label>stage won</label>
        </rules>
    </decisions>
    <interviewLabel>Create Delivery Note And Delivery Note line Item {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Delivery Note And Delivery Note line Item</label>
    <loops>
        <name>iterating_sales_order_line_item</name>
        <label>iterating sales order line item</label>
        <locationX>290</locationX>
        <locationY>926</locationY>
        <collectionReference>varGetAllSalesOrderLineItem</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignment_of_line_item_fields</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>get_Charges</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>iteration_get_charges_loop</name>
        <label>iteration get charges loop</label>
        <locationX>202</locationX>
        <locationY>1622</locationY>
        <collectionReference>get_Charges</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>clone_charge_values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>create_delivery_note_line_item</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_charges</name>
        <label>create charges</label>
        <locationX>290</locationX>
        <locationY>2414</locationY>
        <connector>
            <targetReference>Successful_Message</targetReference>
        </connector>
        <inputReference>varCollectionOfCharges</inputReference>
    </recordCreates>
    <recordCreates>
        <name>create_delivery_note_line_item</name>
        <label>create delivery note line item</label>
        <locationX>573</locationX>
        <locationY>2176</locationY>
        <connector>
            <targetReference>create_charges</targetReference>
        </connector>
        <inputReference>varCollectionDeliveryLineItem</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Delivery_Note_Record</name>
        <label>Create Delivery Note Record</label>
        <locationX>58</locationX>
        <locationY>802</locationY>
        <assignRecordIdToReference>deliveryNoteId</assignRecordIdToReference>
        <connector>
            <targetReference>iterating_sales_order_line_item</targetReference>
        </connector>
        <inputAssignments>
            <field>Customer_Party__c</field>
            <value>
                <elementReference>AccountName.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LC_Date__c</field>
            <value>
                <elementReference>Get_Sales_Order.LC_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LC_Term__c</field>
            <value>
                <elementReference>Get_Sales_Order.LC_Term__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mode__c</field>
            <value>
                <elementReference>Get_Sales_Order.Transpotaion_Mode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Term__c</field>
            <value>
                <elementReference>Get_Sales_Order.Payment_Terms__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reference_Date__c</field>
            <value>
                <elementReference>Get_Sales_Order.Opportunity__r.Reference_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reference_No__c</field>
            <value>
                <elementReference>Get_Sales_Order.Opportunity__r.Reference_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Remark__c</field>
            <value>
                <elementReference>Get_Sales_Order.Remark__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Order__c</field>
            <value>
                <elementReference>SalesOrderflow.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Account__c</field>
            <value>
                <elementReference>Get_Sales_Order.Shipping_Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_City__c</field>
            <value>
                <elementReference>Get_Sales_Order.Shipping_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Country__c</field>
            <value>
                <elementReference>Get_Sales_Order.Shipping_Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_State_Province__c</field>
            <value>
                <elementReference>Get_Sales_Order.Shipping_State_Province__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Street__c</field>
            <value>
                <elementReference>Get_Sales_Order.Shipping_Street__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Zip_Postal_Code__c</field>
            <value>
                <elementReference>Get_Sales_Order.Shipping_Zip_Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transporter__c</field>
            <value>
                <elementReference>Get_Sales_Order.Transporter_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>Get_Sales_Order.Type_SOA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vehicle_No__c</field>
            <value>
                <elementReference>Get_Sales_Order.Vehicle_Docket_No__c</elementReference>
            </value>
        </inputAssignments>
        <object>Sales_Order_Dispatch_Delivery_Note__c</object>
    </recordCreates>
    <recordLookups>
        <name>get_Charges</name>
        <label>get Charges</label>
        <locationX>290</locationX>
        <locationY>1382</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_charges_ids</targetReference>
        </connector>
        <filters>
            <field>Sales_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Charges__c</object>
    </recordLookups>
    <recordLookups>
        <name>Get_Sales_Order</name>
        <label>Get Sales Order</label>
        <locationX>620</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_stage_of_sales_order</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Sales_Order__c</object>
    </recordLookups>
    <recordLookups>
        <name>get_sales_order_line_item</name>
        <label>get sales order line item</label>
        <locationX>422</locationX>
        <locationY>446</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_Sales_order_Line_Item_available</targetReference>
        </connector>
        <filters>
            <field>Sales_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Sales_Order.Id</elementReference>
            </value>
        </filters>
        <object>Sales_Order_Line_Item__c</object>
        <outputReference>varGetAllSalesOrderLineItem</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Amount__c</queriedFields>
        <queriedFields>Available_Quantity__c</queriedFields>
        <queriedFields>CGST__c</queriedFields>
        <queriedFields>IGST__c</queriedFields>
        <queriedFields>SGST__c</queriedFields>
        <queriedFields>CGST_Amount__c</queriedFields>
        <queriedFields>SGST_Amount__c</queriedFields>
        <queriedFields>IGST_Amount__c</queriedFields>
        <queriedFields>Description__c</queriedFields>
        <queriedFields>Discount__c</queriedFields>
        <queriedFields>Sales_Order__c</queriedFields>
        <queriedFields>HSN_Code__c</queriedFields>
        <queriedFields>Discount_Amount__c</queriedFields>
        <queriedFields>Expected_Date__c</queriedFields>
        <queriedFields>GST__c</queriedFields>
        <queriedFields>Part_Name_formula__c</queriedFields>
        <queriedFields>Quantity__c</queriedFields>
        <queriedFields>Product_Part__c</queriedFields>
        <queriedFields>Taxable_Amount__c</queriedFields>
        <queriedFields>Total_Amount__c</queriedFields>
        <queriedFields>Warehouse_City__c</queriedFields>
        <queriedFields>Unit__c</queriedFields>
        <queriedFields>Unit_Price__c</queriedFields>
        <queriedFields>List_Price__c</queriedFields>
    </recordLookups>
    <screens>
        <name>Create_Delivery_Note</name>
        <label>Create Delivery Note</label>
        <locationX>290</locationX>
        <locationY>685</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Delivery_Note_Record</targetReference>
        </connector>
        <fields>
            <name>SalesOrderflow</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Sales_Order__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Sales Order</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Sales_Order_Dispatch_Delivery_Note__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Sales_Order.Id</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AccountName</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Sales_Order_Dispatch_Delivery_Note__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Customer_Party__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Customer Party</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Sales_Order.Customer_Name__r.Id</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_No_Sales_Order_line_Item</name>
        <label>Error : No Sales Order   line Item</label>
        <locationX>554</locationX>
        <locationY>685</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(234, 14, 14); font-size: 16px;&quot;&gt; &lt;/b&gt;&lt;b style=&quot;color: rgb(234, 14, 14); font-size: 18px;&quot;&gt;Delivery Note can&apos;t be created because there is no Sales Order line Item.&lt;/b&gt;&lt;b style=&quot;color: rgb(234, 14, 14); font-size: 16px;&quot;&gt; &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Status_is_Not_Approved</name>
        <label>Status is Not Approved</label>
        <locationX>819</locationX>
        <locationY>445</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NotApprovedMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(186, 10, 10); font-size: 16px;&quot;&gt;Delivery Note can&apos;t be created until status is Approved.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Successful_Message</name>
        <label>Successful Message</label>
        <locationX>290</locationX>
        <locationY>2532</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(9, 124, 24); font-size: 18px;&quot;&gt;Delivery Note created successfully.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Sales_Order</startElementReference>
    <status>Active</status>
    <variables>
        <name>deliveryNoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCollectionDeliveryLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Delivery_Note_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>varCollectionOfCharges</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Charges__c</objectType>
    </variables>
    <variables>
        <name>vardeliveryNoteLineItemRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Delivery_Note_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>varGetAllChargefromSalesOrder</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Charges__c</objectType>
    </variables>
    <variables>
        <name>varGetAllSalesOrderLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Sales_Order_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>varSingleCharge</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Charges__c</objectType>
    </variables>
</Flow>
