force-app/main/default/flows/Create_Sales_Order_And_Sales_Order_Line_Item.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_new_Charges_to_Charges_list</name>
        <label>Add new Charges to Charges list</label>
        <locationX>534</locationX>
        <locationY>2054</locationY>
        <assignmentItems>
            <assignToReference>Clone_ChargesList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewCharges</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Charges_For_Quote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_values_to_collection</name>
        <label>assign values to collection</label>
        <locationX>732</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>varCollectionSalesOrderLineItem</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSingleSalesOrderLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iteration_of_line_items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_values_to_salesline_item_field</name>
        <label>assign values to salesline item field</label>
        <locationX>732</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>varSingleSalesOrderLineItem.Sales_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewSalesOrder</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleSalesOrderLineItem.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iteration_of_line_items.Product_Part__r.Part_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleSalesOrderLineItem.CGST__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iteration_of_line_items.CGST__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleSalesOrderLineItem.IGST__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iteration_of_line_items.IGST__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleSalesOrderLineItem.SGST__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iteration_of_line_items.SGST__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleSalesOrderLineItem.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iteration_of_line_items.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleSalesOrderLineItem.Discount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iteration_of_line_items.Discount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleSalesOrderLineItem.HSN_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iteration_of_line_items.HSN_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleSalesOrderLineItem.Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iteration_of_line_items.Unit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleSalesOrderLineItem.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iteration_of_line_items.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleSalesOrderLineItem.List_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iteration_of_line_items.List_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleSalesOrderLineItem.Unit_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iteration_of_line_items.Sales_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleSalesOrderLineItem.Product_Part__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iteration_of_line_items.Product_Part__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleSalesOrderLineItem.Expected_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iteration_of_line_items.Delivery_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_values_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clone_Charges</name>
        <label>Clone Charges</label>
        <locationX>534</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>NewCharges</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Charges_For_Quote</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Field_Update_on_clone_Charges</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Field_Update_on_clone_Charges</name>
        <label>Field Update on clone Charges</label>
        <locationX>534</locationX>
        <locationY>1934</locationY>
        <assignmentItems>
            <assignToReference>NewCharges.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCharges.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCharges.Sales_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewSalesOrder</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_new_Charges_to_Charges_list</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Charges_List</name>
        <label>Check Charges List</label>
        <locationX>644</locationX>
        <locationY>1574</locationY>
        <defaultConnector>
            <targetReference>create_sales_order_line_item</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Charges_List_Not_Null1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Charges_List</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Charges_For_Quote</targetReference>
            </connector>
            <label>Check Charges List Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Clone_Charges_List</name>
        <label>Check Clone Charges List</label>
        <locationX>446</locationX>
        <locationY>2270</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Clone_ChargesList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Charges_Record</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckConditionForLineItem</name>
        <label>CheckConditionForLineItem</label>
        <locationX>534</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Quote_Not_Synced</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Opportunity_Stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Stage_is_Not_Closed_Won</targetReference>
            </connector>
            <label>Check Opportunity Stage</label>
        </rules>
        <rules>
            <name>lineItemIdsCheckvar</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarAllOpportunityLineItems</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Define_Sales_Order</targetReference>
            </connector>
            <label>lineItemIdsCheckvar</label>
        </rules>
    </decisions>
    <interviewLabel>Create Sales Order And Sales Order Line Item {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Sales Order And Sales Order Line Item</label>
    <loops>
        <name>Create_Charges_For_Quote</name>
        <label>Create Charges For Quote</label>
        <locationX>446</locationX>
        <locationY>1694</locationY>
        <collectionReference>Get_Charges_List</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Clone_Charges</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Clone_Charges_List</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>iteration_of_line_items</name>
        <label>iteration of line items</label>
        <locationX>644</locationX>
        <locationY>998</locationY>
        <collectionReference>VarAllOpportunityLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_values_to_salesline_item_field</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Charges_List</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Charges_Record</name>
        <label>Create Charges Record</label>
        <locationX>314</locationX>
        <locationY>2390</locationY>
        <connector>
            <targetReference>create_sales_order_line_item</targetReference>
        </connector>
        <inputReference>Clone_ChargesList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Sales_Order</name>
        <label>Create Sales Order</label>
        <locationX>644</locationX>
        <locationY>878</locationY>
        <assignRecordIdToReference>NewSalesOrder</assignRecordIdToReference>
        <connector>
            <targetReference>iteration_of_line_items</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact_Person__c</field>
            <value>
                <elementReference>ContactLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Asset__c</field>
            <value>
                <elementReference>Get_Opportunity.Customer_Asset__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Name__c</field>
            <value>
                <elementReference>OEM_Customerlookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_PO_No__c</field>
            <value>
                <elementReference>Get_Opportunity.Customer_PO_No__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Of_Supply__c</field>
            <value>
                <elementReference>Get_Opportunity.Date_of_Supply__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LC_Date__c</field>
            <value>
                <elementReference>Get_Opportunity.LC_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LC_Term__c</field>
            <value>
                <elementReference>Get_Opportunity.LC_Term__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mode_of_Transport__c</field>
            <value>
                <elementReference>Get_Opportunity.Transportation_Mode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>OpportunityLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PO_Date__c</field>
            <value>
                <elementReference>Get_Opportunity.PO_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Terms__c</field>
            <value>
                <elementReference>Get_Opportunity.Payment_Terms__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Remark__c</field>
            <value>
                <elementReference>Get_Opportunity.Remark__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Account__c</field>
            <value>
                <elementReference>Get_Opportunity.Shipping_Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_City__c</field>
            <value>
                <elementReference>Get_Opportunity.Shipping_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Country__c</field>
            <value>
                <elementReference>Get_Opportunity.Shipping_Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_State_Province__c</field>
            <value>
                <elementReference>Get_Opportunity.Shipping_State_Province__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Street__c</field>
            <value>
                <elementReference>Get_Opportunity.Shipping_Street__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Zip_Postal_Code__c</field>
            <value>
                <elementReference>Get_Opportunity.Shipping_Zip_Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transporter_Name__c</field>
            <value>
                <elementReference>Get_Opportunity.Transporter_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_SOA__c</field>
            <value>
                <elementReference>Get_Opportunity.PI_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vehicle_Docket_No__c</field>
            <value>
                <elementReference>Get_Opportunity.Vehicle_Docket_No__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ware_House__c</field>
            <value>
                <elementReference>Get_Opportunity.Ware_House__c</elementReference>
            </value>
        </inputAssignments>
        <object>Sales_Order__c</object>
    </recordCreates>
    <recordCreates>
        <name>create_sales_order_line_item</name>
        <label>create sales order line item</label>
        <locationX>644</locationX>
        <locationY>2702</locationY>
        <connector>
            <targetReference>Created_Sales_Order</targetReference>
        </connector>
        <inputReference>varCollectionSalesOrderLineItem</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Charges_List</name>
        <label>Get Charges List</label>
        <locationX>644</locationX>
        <locationY>1454</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Charges_List</targetReference>
        </connector>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Charges__c</object>
    </recordLookups>
    <recordLookups>
        <name>get_contact</name>
        <label>get contact</label>
        <locationX>534</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Line_Item</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_oem_customer.Id</elementReference>
            </value>
        </filters>
        <object>Contact</object>
    </recordLookups>
    <recordLookups>
        <name>Get_Line_Item</name>
        <label>Get Line Item</label>
        <locationX>534</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckConditionForLineItem</targetReference>
        </connector>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </filters>
        <object>Line_Item__c</object>
        <outputReference>VarAllOpportunityLineItems</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Opportunity__c</queriedFields>
        <queriedFields>Application__c</queriedFields>
        <queriedFields>CGST__c</queriedFields>
        <queriedFields>Delivery_Date__c</queriedFields>
        <queriedFields>DiscountN__c</queriedFields>
        <queriedFields>Discount__c</queriedFields>
        <queriedFields>Description__c</queriedFields>
        <queriedFields>IGST__c</queriedFields>
        <queriedFields>HSN_Code__c</queriedFields>
        <queriedFields>Product_Part__c</queriedFields>
        <queriedFields>Unit__c</queriedFields>
        <queriedFields>SGST__c</queriedFields>
        <queriedFields>Amount_Formula__c</queriedFields>
        <queriedFields>CGST_Amount_Formula__c</queriedFields>
        <queriedFields>Discount_Amount__c</queriedFields>
        <queriedFields>Expected_date__c</queriedFields>
        <queriedFields>IsDeleted</queriedFields>
        <queriedFields>IGST_Amount_Formula__c</queriedFields>
        <queriedFields>List_Price__c</queriedFields>
        <queriedFields>Quantity__c</queriedFields>
        <queriedFields>Net_Amount__c</queriedFields>
        <queriedFields>Sales_Price__c</queriedFields>
        <queriedFields>Saleable_Stock__c</queriedFields>
        <queriedFields>SGST_Amount_Formula__c</queriedFields>
        <queriedFields>Taxable_Amount_Formula__c</queriedFields>
        <queriedFields>Total_Amount_Formula__c</queriedFields>
        <queriedFields>Part_Name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>get_oem_customer</name>
        <label>get oem customer</label>
        <locationX>534</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_contact</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.OEM_Customer__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>534</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_oem_customer</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Opportunity__c</object>
    </recordLookups>
    <screens>
        <name>Created_Sales_Order</name>
        <label>Created Sales Order</label>
        <locationX>644</locationX>
        <locationY>2822</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessSalesOrderCreated</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(19, 205, 44); font-size: 18px;&quot;&gt;Sales Order is Created Successfully&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Define_Sales_Order</name>
        <label>Define Sales Order</label>
        <locationX>644</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Sales_Order</targetReference>
        </connector>
        <fields>
            <name>OpportunityLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Opportunity__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Sales_Order__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Opportunity.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>OEM_Customerlookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Sales_Order__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>OEM/Customer</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Customer_Name__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Opportunity.OEM_Customer__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ContactLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Sales_Order__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Contact_Person__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Contact Person</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Opportunity.Contact_Person__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Opportunity_Stage_is_Not_Closed_Won</name>
        <label>Opportunity Stage is Not Closed Won</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SategErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px; color: rgb(221, 16, 16);&quot;&gt;Please Update Opportunity To Closed Won To Create Sales Order&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Quote_Not_Synced</name>
        <label>Quote Not Synced</label>
        <locationX>1018</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(221, 10, 10);&quot;&gt;﻿&lt;/b&gt;&lt;b style=&quot;color: rgb(240, 26, 26); font-size: 18px;&quot;&gt;Please Add Line Item In Order to Create Sales order&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Opportunity</startElementReference>
    <status>Active</status>
    <variables>
        <name>Clone_ChargesList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Charges__c</objectType>
    </variables>
    <variables>
        <name>NewCharges</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Charges__c</objectType>
    </variables>
    <variables>
        <name>NewSalesOrder</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarAllOpportunityLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Line_Item__c</objectType>
    </variables>
    <variables>
        <name>varCollectionSalesOrderLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Sales_Order_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>varGetAllOppFields</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity__c</objectType>
    </variables>
    <variables>
        <name>varSingleRecordSalesOrderlineItem</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSingleSalesOrderLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Sales_Order_Line_Item__c</objectType>
    </variables>
</Flow>
