force-app/main/default/flows/create_Debit_note.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>adding_invalid_mrn_line_item_record</name>
        <label>adding invalid mrn line item record</label>
        <locationX>735</locationX>
        <locationY>66</locationY>
        <assignmentItems>
            <assignToReference>varChboxTrueForDebitNote</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopMrnLineItems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Adding_single_to_collection</name>
        <label>Adding single to collection</label>
        <locationX>1464</locationX>
        <locationY>294</locationY>
        <assignmentItems>
            <assignToReference>varCollectionDcNoteLineItem</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSingleDcNoteLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>secondloopMrnLineItems_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_field_values_of_dc_note_line_item</name>
        <label>assign field values of dc note line item</label>
        <locationX>1321</locationX>
        <locationY>22</locationY>
        <assignmentItems>
            <assignToReference>varSingleDcNoteLineItem.Part_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>secondloopMrnLineItems_0.Part_Number__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleDcNoteLineItem.Doc_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dcNoteId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleDcNoteLineItem.CGST__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>secondloopMrnLineItems_0.PO_CGST__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleDcNoteLineItem.SGST__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>secondloopMrnLineItems_0.PO_SGST__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleDcNoteLineItem.IGST__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>secondloopMrnLineItems_0.PO_IGST__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleDcNoteLineItem.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>secondloopMrnLineItems_0.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleDcNoteLineItem.Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>secondloopMrnLineItems_0.Unit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleDcNoteLineItem.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>secondloopMrnLineItems_0.Short_QTY__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleDcNoteLineItem.Unit_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>secondloopMrnLineItems_0.Item_Price_Unit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleDcNoteLineItem.Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>secondloopMrnLineItems_0.Unit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleDcNoteLineItem.Taxable_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>secondloopMrnLineItems_0.Taxable_Value__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleDcNoteLineItem.Total_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>secondloopMrnLineItems_0.Total_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleDcNoteLineItem.Discount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>secondloopMrnLineItems_0.Discount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleDcNoteLineItem.HSN_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>secondloopMrnLineItems_0.HSN_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleDcNoteLineItem.Remark__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>secondloopMrnLineItems_0.Remarks__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleDcNoteLineItem.Delivery_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>secondloopMrnLineItems_0.Delivery_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleDcNoteLineItem.Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>secondloopMrnLineItems_0.Application__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleDcNoteLineItem.Usage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>secondloopMrnLineItems_0.Usage__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Adding_single_to_collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_fields_validations_decision</name>
        <label>check fields validations decision</label>
        <locationX>160</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Fields_Requirement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>stage_equals_reject_and_Type_equals_Purchase_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_MRN_record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Received</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_MRN_record.MRN_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Purchase Order</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Mrn_Line_item</targetReference>
            </connector>
            <label>stage equals reject and Type equals Purchase Order</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_mrn_line_items_reject_quantity</name>
        <label>check mrn line items reject quantity</label>
        <locationX>991</locationX>
        <locationY>232</locationY>
        <defaultConnector>
            <targetReference>loopMrnLineItems</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_Quantity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopMrnLineItems.Short_QTY__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>adding_invalid_mrn_line_item_record</targetReference>
            </connector>
            <label>check Quantity</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_mrn_line_items_reject_quantity_0</name>
        <label>check mrn line items reject quantity</label>
        <locationX>1177</locationX>
        <locationY>241</locationY>
        <defaultConnector>
            <targetReference>secondloopMrnLineItems_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_Quantity_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>secondloopMrnLineItems_0.Short_QTY__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_field_values_of_dc_note_line_item</targetReference>
            </connector>
            <label>check Quantity0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_thedebit_note_checkbox</name>
        <label>Check  thedebit note checkbox</label>
        <locationX>664</locationX>
        <locationY>473</locationY>
        <defaultConnector>
            <targetReference>NO_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>debit_note_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varChboxTrueForDebitNote</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_a_Debit_Note</targetReference>
            </connector>
            <label>debitnote true</label>
        </rules>
    </decisions>
    <decisions>
        <name>chk_mrn_line_item</name>
        <label>chk mrn line item</label>
        <locationX>438</locationX>
        <locationY>382</locationY>
        <defaultConnector>
            <targetReference>NO_MRN_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Mrn_Line_item</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopMrnLineItems</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <interviewLabel>create Debit note {!$Flow.CurrentDateTime}</interviewLabel>
    <label>create Debit note</label>
    <loops>
        <name>loopMrnLineItems</name>
        <label>loopMrnLineItems</label>
        <locationX>686</locationX>
        <locationY>272</locationY>
        <collectionReference>get_Mrn_Line_item</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>check_mrn_line_items_reject_quantity</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_thedebit_note_checkbox</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>secondloopMrnLineItems_0</name>
        <label>secondloopMrnLineItems</label>
        <locationX>1316</locationX>
        <locationY>444</locationY>
        <collectionReference>get_Mrn_Line_item</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>check_mrn_line_items_reject_quantity_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>create_dc_note_line_item</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_dc_note</name>
        <label>create dc note</label>
        <locationX>1197</locationX>
        <locationY>551</locationY>
        <assignRecordIdToReference>dcNoteId</assignRecordIdToReference>
        <connector>
            <targetReference>secondloopMrnLineItems_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Bill_To_Customer_Name__c</field>
            <value>
                <elementReference>screenContact.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Party__c</field>
            <value>
                <elementReference>DebItNOteAccount.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MRN__c</field>
            <value>
                <elementReference>DebitNoteCreate.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PO_No__c</field>
            <value>
                <elementReference>get_MRN_record.PO_No__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Term__c</field>
            <value>
                <elementReference>get_MRN_record.Payment_Term__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>get_record_type_for_dc_note.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Account__c</field>
            <value>
                <elementReference>get_MRN_record.Shipping_Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_City__c</field>
            <value>
                <elementReference>get_MRN_record.Shipping_Account__r.ShippingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Country__c</field>
            <value>
                <elementReference>get_MRN_record.Shipping_Account__r.ShippingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_State_Province__c</field>
            <value>
                <elementReference>get_MRN_record.Shipping_Account__r.ShippingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Street__c</field>
            <value>
                <elementReference>get_MRN_record.Shipping_Account__r.ShippingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Zip_Postal_Code__c</field>
            <value>
                <elementReference>get_MRN_record.Shipping_Account__r.ShippingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transportation_Mode__c</field>
            <value>
                <elementReference>get_MRN_record.Dispatch_Mode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transporter_Name__c</field>
            <value>
                <elementReference>get_MRN_record.Transporter_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vehicle_No__c</field>
            <value>
                <elementReference>get_MRN_record.Vehicle_No__c</elementReference>
            </value>
        </inputAssignments>
        <object>DC_Note__c</object>
    </recordCreates>
    <recordCreates>
        <name>create_dc_note_line_item</name>
        <label>create dc note line item</label>
        <locationX>1588</locationX>
        <locationY>589</locationY>
        <connector>
            <targetReference>Successfully_Created</targetReference>
        </connector>
        <inputReference>varCollectionDcNoteLineItem</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_Mrn_Line_item</name>
        <label>get Mrn Line item</label>
        <locationX>525</locationX>
        <locationY>185</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>chk_mrn_line_item</targetReference>
        </connector>
        <filters>
            <field>MRN__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>MRN_Line_Item__c</object>
    </recordLookups>
    <recordLookups>
        <name>get_MRN_record</name>
        <label>get MRN record</label>
        <locationX>280</locationX>
        <locationY>185</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_fields_validations_decision</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>MRN__c</object>
    </recordLookups>
    <recordLookups>
        <name>get_record_type_for_dc_note</name>
        <label>get record type for dc note</label>
        <locationX>1060</locationX>
        <locationY>475</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>create_dc_note</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Debit Note</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DC_Note__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
    </recordLookups>
    <screens>
        <name>Create_a_Debit_Note</name>
        <label>Create a Debit Note</label>
        <locationX>861</locationX>
        <locationY>492</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>get_record_type_for_dc_note</targetReference>
        </connector>
        <fields>
            <name>DebitNoteCreate</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>MRN__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>MRN Number</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>DC_Note__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>get_MRN_record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DebItNOteAccount</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Customer_Party__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Customer/Party</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>DC_Note__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>get_MRN_record.OEM_Customer__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>screenContact</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Bill_To_Customer_Name__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Contact Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>DC_Note__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>get_MRN_record.Contact_Name__r.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fields_Requirement</name>
        <label>Fields Requirement</label>
        <locationX>50</locationX>
        <locationY>666</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>displayErrorMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px; color: rgb(222, 5, 5);&quot;&gt;Please update Stage to Received and MRN Type to Purchase Order to create Debit Note.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NO_Items</name>
        <label>NO Items</label>
        <locationX>612</locationX>
        <locationY>727</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errormsg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(192, 27, 27); font-size: 18px;&quot;&gt;Debit Note Can&apos;t be Created because Short/Excess Quantity is 0 in MRN.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NO_MRN_Items</name>
        <label>NO MRN Items</label>
        <locationX>344</locationX>
        <locationY>680</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>noItem</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 18px; color: rgb(237, 45, 11); background-color: rgb(255, 255, 255);&quot;&gt;Please add MRN Line Items.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Successfully_Created</name>
        <label>Successfully Created</label>
        <locationX>1588</locationX>
        <locationY>367</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessageDeliveryNote</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 18px; color: rgb(13, 198, 19);&quot;&gt;Debit Note c&lt;/b&gt;&lt;b style=&quot;font-size: 18px; color: rgb(13, 198, 19); background-color: rgb(255, 255, 255);&quot;&gt;reated s&lt;/b&gt;&lt;b style=&quot;font-size: 18px; color: rgb(13, 198, 19);&quot;&gt;uccessfully. &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>get_MRN_record</startElementReference>
    <status>Active</status>
    <variables>
        <name>dcNoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varChboxTrueForDebitNote</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varCollectionDcNoteLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DC_Note_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>varCollectionOfInvalidlineitemRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MRN_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>varGetMrnLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MRN_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>varSingleDcNoteLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DC_Note_Line_Item__c</objectType>
    </variables>
</Flow>
