force-app/main/default/flows/Create_Delivery_nOte_and_delivery_note_line_item_for_MRN.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>adding_invalid_mrn_line_item_record</name>
        <label>adding invalid mrn line item record</label>
        <locationX>562</locationX>
        <locationY>973</locationY>
        <assignmentItems>
            <assignToReference>varChboxTrueForDebitNote</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopMrnLineItems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Adding_single_to_collection</name>
        <label>Adding single to collection</label>
        <locationX>572</locationX>
        <locationY>1845</locationY>
        <assignmentItems>
            <assignToReference>varSingleDeliveryNoteLineItem.Accept_QTY__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>secondloopMrnLineItems_0.Accept_QTY__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleDeliveryNoteLineItem.Sales_Order_Dispatch_Delivery_Note__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>deliveryNoteId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleDeliveryNoteLineItem.CGST__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>secondloopMrnLineItems_0.CGST__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleDeliveryNoteLineItem.CGST_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>secondloopMrnLineItems_0.CGST_Amount_Formula__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleDeliveryNoteLineItem.SGST__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>secondloopMrnLineItems_0.SGST__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleDeliveryNoteLineItem.SGST_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>secondloopMrnLineItems_0.SGST_Amount_Formula__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleDeliveryNoteLineItem.IGST__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>secondloopMrnLineItems_0.IGST__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleDeliveryNoteLineItem.IGST_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>secondloopMrnLineItems_0.IGST_Amount_Formula__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleDeliveryNoteLineItem.Discount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>secondloopMrnLineItems_0.Discount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleDeliveryNoteLineItem.Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>secondloopMrnLineItems_0.Unit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleDeliveryNoteLineItem.Unit_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>secondloopMrnLineItems_0.Unit_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleDeliveryNoteLineItem.HSN_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>secondloopMrnLineItems_0.HSN_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleDeliveryNoteLineItem.Total_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>secondloopMrnLineItems_0.Total_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleDeliveryNoteLineItem.Taxable_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>secondloopMrnLineItems_0.Taxable_Value__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleDeliveryNoteLineItem.Product_Part__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>secondloopMrnLineItems_0.Part_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleDeliveryNoteLineItem.Sales_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>secondloopMrnLineItems_0.Sales_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleDeliveryNoteLineItem.Remark__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>secondloopMrnLineItems_0.Remarks__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleDeliveryNoteLineItem.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>secondloopMrnLineItems_0.Short_QTY__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleDeliveryNoteLineItem.CGST__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>secondloopMrnLineItems_0.PO_CGST__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleDeliveryNoteLineItem.SGST__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>secondloopMrnLineItems_0.PO_SGST__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleDeliveryNoteLineItem.IGST__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>secondloopMrnLineItems_0.PO_IGST__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleDeliveryNoteLineItem.Sales_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>secondloopMrnLineItems_0.Item_Price_Unit__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_field_values_of_dc_note_line_item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_field_values_of_dc_note_line_item</name>
        <label>assign field values of dc note line item</label>
        <locationX>315</locationX>
        <locationY>1873</locationY>
        <assignmentItems>
            <assignToReference>varCollectionDeliveryNoteLineItem</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSingleDeliveryNoteLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>secondloopMrnLineItems_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_fields_validations_decision</name>
        <label>check fields validations decision</label>
        <locationX>698</locationX>
        <locationY>326</locationY>
        <defaultConnector>
            <targetReference>Fields_Requirement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>stage_equals_reject_and_Type_equals_Purchase_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_MRN_record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Received</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_MRN_record.MRN_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Purchase Order</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Mrn_Line_item</targetReference>
            </connector>
            <label>stage equals received and Type equals Purchase Order</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_mrn_line_item_ids</name>
        <label>check mrn line item ids</label>
        <locationX>646</locationX>
        <locationY>524</locationY>
        <defaultConnector>
            <targetReference>No_MRN_Line_Item_s</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ids_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Mrn_Line_item</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopMrnLineItems</targetReference>
            </connector>
            <label>ids true</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_mrn_line_items_reject_quantity</name>
        <label>check mrn line items reject quantity</label>
        <locationX>731</locationX>
        <locationY>701</locationY>
        <defaultConnector>
            <targetReference>loopMrnLineItems</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_Quantity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopMrnLineItems.Short_QTY__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>adding_invalid_mrn_line_item_record</targetReference>
            </connector>
            <label>check Quantity</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_mrn_line_items_reject_quantity_0</name>
        <label>check mrn line items reject quantity</label>
        <locationX>573</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>secondloopMrnLineItems_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_Quantity_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>secondloopMrnLineItems_0.Short_QTY__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Adding_single_to_collection</targetReference>
            </connector>
            <label>check Quantity0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_thedebit_note_checkbox</name>
        <label>Check  thedebit note checkbox</label>
        <locationX>443</locationX>
        <locationY>1157</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>debit_note_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varChboxTrueForDebitNote</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_a_delivery_Note</targetReference>
            </connector>
            <label>debitnote true</label>
        </rules>
    </decisions>
    <interviewLabel>Create Delivery nOte and delivery note line item for MRN {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Delivery nOte and delivery note line item for MRN</label>
    <loops>
        <name>loopMrnLineItems</name>
        <label>loopMrnLineItems</label>
        <locationX>314</locationX>
        <locationY>690</locationY>
        <collectionReference>get_Mrn_Line_item</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>check_mrn_line_items_reject_quantity</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_thedebit_note_checkbox</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>secondloopMrnLineItems_0</name>
        <label>secondloopMrnLineItems</label>
        <locationX>137</locationX>
        <locationY>1598</locationY>
        <collectionReference>get_Mrn_Line_item</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>check_mrn_line_items_reject_quantity_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>create_delivery_note_line_item</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_delivery_note</name>
        <label>create delivery note</label>
        <locationX>137</locationX>
        <locationY>1400</locationY>
        <assignRecordIdToReference>deliveryNoteId</assignRecordIdToReference>
        <connector>
            <targetReference>secondloopMrnLineItems_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Customer_Party__c</field>
            <value>
                <elementReference>customerPartyAccount.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_of_Contact__c</field>
            <value>
                <elementReference>get_MRN_record.Contact_Name__r.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MRN__c</field>
            <value>
                <elementReference>mrnScreen.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mode__c</field>
            <value>
                <elementReference>get_MRN_record.Dispatch_Mode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Term__c</field>
            <value>
                <elementReference>get_MRN_record.Payment_Term__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Remark__c</field>
            <value>
                <elementReference>get_MRN_record.Remark__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Account__c</field>
            <value>
                <elementReference>get_MRN_record.Shipping_Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_City__c</field>
            <value>
                <elementReference>get_MRN_record.Shipping_Account__r.ShippingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Country__c</field>
            <value>
                <elementReference>get_MRN_record.Shipping_Account__r.ShippingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_State_Province__c</field>
            <value>
                <elementReference>get_MRN_record.Shipping_Account__r.ShippingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Street__c</field>
            <value>
                <elementReference>get_MRN_record.Shipping_Account__r.ShippingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Zip_Postal_Code__c</field>
            <value>
                <elementReference>get_MRN_record.Shipping_Account__r.ShippingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transporter__c</field>
            <value>
                <elementReference>get_MRN_record.Transporter_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vehicle_No__c</field>
            <value>
                <elementReference>get_MRN_record.Vehicle_No__c</elementReference>
            </value>
        </inputAssignments>
        <object>Sales_Order_Dispatch_Delivery_Note__c</object>
    </recordCreates>
    <recordCreates>
        <name>create_delivery_note_line_item</name>
        <label>create delivery note line item</label>
        <locationX>50</locationX>
        <locationY>2019</locationY>
        <connector>
            <targetReference>Successfully_Created</targetReference>
        </connector>
        <inputReference>varCollectionDeliveryNoteLineItem</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_Mrn_Line_item</name>
        <label>get Mrn Line item</label>
        <locationX>424</locationX>
        <locationY>262</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_mrn_line_item_ids</targetReference>
        </connector>
        <filters>
            <field>MRN__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>MRN_Line_Item__c</object>
    </recordLookups>
    <recordLookups>
        <name>get_MRN_record</name>
        <label>get MRN record</label>
        <locationX>698</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_fields_validations_decision</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>MRN__c</object>
    </recordLookups>
    <screens>
        <name>Create_a_delivery_Note</name>
        <label>Create a delivery Note</label>
        <locationX>137</locationX>
        <locationY>1157</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>create_delivery_note</targetReference>
        </connector>
        <fields>
            <name>mrnScreen</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>MRN__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>MRN Number</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Sales_Order_Dispatch_Delivery_Note__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>get_MRN_record.Id</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>customerPartyAccount</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Customer_Party__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Customer/Party</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Sales_Order_Dispatch_Delivery_Note__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>get_MRN_record.OEM_Customer__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fields_Requirement</name>
        <label>Fields Requirement</label>
        <locationX>1032</locationX>
        <locationY>232</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>displayErrorMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(222, 5, 5); font-size: 16px;&quot;&gt;Please Update Stage to Received and MRN Type to Purchase Order In Order to Create a Delivery Note&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_MRN_Line_Item_s</name>
        <label>No MRN Line Item/s</label>
        <locationX>944</locationX>
        <locationY>839</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>noItemMsg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 18px; color: rgb(237, 45, 11);&quot;&gt;Please Add MRN Line Item/s&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Quantity_Error</name>
        <label>No Quantity Error</label>
        <locationX>735</locationX>
        <locationY>1151</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 18px; color: rgb(231, 4, 4);&quot;&gt;Short Quantity is Zero for a delivery note.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Successfully_Created</name>
        <label>Successfully Created</label>
        <locationX>528</locationX>
        <locationY>2001</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessageDcNote</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 18px; color: rgb(13, 198, 19);&quot;&gt;Delivery Note Successfully Created&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>get_MRN_record</startElementReference>
    <status>Active</status>
    <variables>
        <name>dcNoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>deliveryNoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varChboxTrueForDebitNote</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varCollectionDcNoteLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DC_Note_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>varCollectionDeliveryNoteLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Delivery_Note_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>varCollectionOfInvalidlineitemRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MRN_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>varGetMrnLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MRN_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>varSingleDcNoteLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DC_Note_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>varSingleDeliveryNoteLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Delivery_Note_Line_Item__c</objectType>
    </variables>
</Flow>
