force-app/main/default/flows/Create_Packing_list_and_packing_list_line_item.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>adding_single_line_item_to_collection_list</name>
        <label>adding single line item to collection list</label>
        <locationX>506</locationX>
        <locationY>306</locationY>
        <assignmentItems>
            <assignToReference>varCollectionPurchaseListLineItem</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSinglePackingLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>line_item_iteration</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_feld_values</name>
        <label>assign feld values</label>
        <locationX>711</locationX>
        <locationY>241</locationY>
        <assignmentItems>
            <assignToReference>varSinglePackingLineItem.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>line_item_iteration.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSinglePackingLineItem.Part_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>line_item_iteration.Product_Part__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSinglePackingLineItem.Packing_List__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>packinglistId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSinglePackingLineItem.Customer_Part_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>line_item_iteration.Part_Serial__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>adding_single_line_item_to_collection_list</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_delivery_not_line_item</name>
        <label>check delivery not line item</label>
        <locationX>158</locationX>
        <locationY>344</locationY>
        <defaultConnector>
            <targetReference>Message_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_ids</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varGetDeliveryNoteLineItem</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Purchase_List</targetReference>
            </connector>
            <label>check ids</label>
        </rules>
    </decisions>
    <formulas>
        <name>billingaddress</name>
        <dataType>String</dataType>
        <expression>{!Get_Deliuvery_note.Sales_Order__r.Customer_Name__r.BillingStreet}+&apos;, &apos;+{!Get_Deliuvery_note.Sales_Order__r.Customer_Name__r.BillingCity}+&apos;, &apos;+{!Get_Deliuvery_note.Sales_Order__r.Customer_Name__r.BillingState}+&apos;, &apos;+{!Get_Deliuvery_note.Sales_Order__r.Customer_Name__r.BillingPostalCode}+&apos;, &apos;+{!Get_Deliuvery_note.Sales_Order__r.Customer_Name__r.BillingCountry}</expression>
    </formulas>
    <formulas>
        <name>dispatchAddresses</name>
        <dataType>String</dataType>
        <expression>{!Get_Deliuvery_note.Sales_Order__r.Customer_Name__r.ShippingStreet}+&apos;, &apos;+{!Get_Deliuvery_note.Sales_Order__r.Customer_Name__r.ShippingCity}+&apos;, &apos;+{!Get_Deliuvery_note.Sales_Order__r.Customer_Name__r.ShippingState}+&apos;, &apos;+{!Get_Deliuvery_note.Sales_Order__r.Customer_Name__r.ShippingPostalCode}+&apos;, &apos;+{!Get_Deliuvery_note.Sales_Order__r.Customer_Name__r.ShippingCountry}</expression>
    </formulas>
    <interviewLabel>Create Packing list and packing list line item {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Packing list and packing list line item</label>
    <loops>
        <name>line_item_iteration</name>
        <label>line item iteration</label>
        <locationX>480</locationX>
        <locationY>153</locationY>
        <collectionReference>varGetDeliveryNoteLineItem</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_feld_values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>create_packing_list_Line_item</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_Packing_list</name>
        <label>create Packing list</label>
        <locationX>366</locationX>
        <locationY>153</locationY>
        <assignRecordIdToReference>packinglistId</assignRecordIdToReference>
        <connector>
            <targetReference>line_item_iteration</targetReference>
        </connector>
        <inputAssignments>
            <field>Bill_To__c</field>
            <value>
                <elementReference>Get_Deliuvery_note.Sales_Order__r.Contact_Person__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Address__c</field>
            <value>
                <elementReference>billingaddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date__c</field>
            <value>
                <elementReference>Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Delivery_Note__c</field>
            <value>
                <elementReference>DeliveryNote.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dispatch_Address__c</field>
            <value>
                <elementReference>dispatchAddresses</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dispatch_To__c</field>
            <value>
                <elementReference>Get_Deliuvery_note.Sales_Order__r.Contact_Person__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Packing_List__c</object>
    </recordCreates>
    <recordCreates>
        <name>create_packing_list_Line_item</name>
        <label>create packing list Line item</label>
        <locationX>744</locationX>
        <locationY>90</locationY>
        <connector>
            <targetReference>Packing_List_Successfully_Created</targetReference>
        </connector>
        <inputReference>varCollectionPurchaseListLineItem</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Deliuvery_note</name>
        <label>Get Deliuvery note</label>
        <locationX>32</locationX>
        <locationY>225</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_delivery_note_line_item</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Sales_Order_Dispatch_Delivery_Note__c</object>
    </recordLookups>
    <recordLookups>
        <name>get_delivery_note_line_item</name>
        <label>get delivery note line item</label>
        <locationX>26</locationX>
        <locationY>346</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_delivery_not_line_item</targetReference>
        </connector>
        <filters>
            <field>Sales_Order_Dispatch_Delivery_Note__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Deliuvery_note.Id</elementReference>
            </value>
        </filters>
        <object>Delivery_Note_Line_Item__c</object>
        <outputReference>varGetDeliveryNoteLineItem</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product_Part__c</queriedFields>
        <queriedFields>Quantity__c</queriedFields>
    </recordLookups>
    <screens>
        <name>Message_Screen</name>
        <label>Message Screen</label>
        <locationX>393</locationX>
        <locationY>482</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>messagesForLineItem</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(241, 17, 17); font-size: 18px;&quot;&gt;Please add Delivery Note Line Items.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Packing_List_Successfully_Created</name>
        <label>Packing List Successfully Created</label>
        <locationX>951</locationX>
        <locationY>129</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 18px; color: rgb(12, 185, 38);&quot;&gt;﻿Packing List c&lt;/b&gt;&lt;b style=&quot;font-size: 18px; color: rgb(12, 185, 38); background-color: rgb(255, 255, 255);&quot;&gt;reated s&lt;/b&gt;&lt;b style=&quot;font-size: 18px; color: rgb(12, 185, 38);&quot;&gt;uccessfully. &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Purchase_List</name>
        <label>Purchase List</label>
        <locationX>218</locationX>
        <locationY>150</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>create_Packing_list</targetReference>
        </connector>
        <fields>
            <name>DeliveryNote</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>DeliveryNote</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Packing_List__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Delivery_Note__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Deliuvery_note.Id</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Date</name>
            <dataType>Date</dataType>
            <fieldText>Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Deliuvery_note</startElementReference>
    <status>Active</status>
    <variables>
        <name>packinglistId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCollectionPurchaseListLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Packing_List_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>varGetDeliveryNoteLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Delivery_Note_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>varSinglePackingLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Packing_List_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>varSinglePackingList</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Packing_List_Line_Item__c</objectType>
    </variables>
</Flow>
