force-app/main/default/flows/Create_Credit_Note.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>adding_list</name>
        <label>adding list</label>
        <locationX>655</locationX>
        <locationY>1684</locationY>
        <assignmentItems>
            <assignToReference>varSingleCharge.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleCharge.Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleCharge.DC_Note__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>creditNoteDcRecordID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleCharge.Total_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>invoiceTaxableAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>adding_list_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>adding_list_0</name>
        <label>adding list</label>
        <locationX>484</locationX>
        <locationY>1812</locationY>
        <assignmentItems>
            <assignToReference>varCollectioncharge</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSingleCharge</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iteratecharges</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>adding_single_into_collection</name>
        <label>adding single into collection</label>
        <locationX>1173</locationX>
        <locationY>1572</locationY>
        <assignmentItems>
            <assignToReference>varCollectionDeliveryNoteLineItem</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSingleDeliveryNote</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sorder_return_line_items_loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>adding_single_into_collection_variable</name>
        <label>adding single into collection variable</label>
        <locationX>456</locationX>
        <locationY>1136</locationY>
        <assignmentItems>
            <assignToReference>varCollectionDcNoteLineItem</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSingleDcNoteLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterating_sales_order_line_items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_values</name>
        <label>assign values</label>
        <locationX>470</locationX>
        <locationY>1555</locationY>
        <assignmentItems>
            <assignToReference>varSingleCharge</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iteratecharges</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>adding_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_to_dc_note_line_item</name>
        <label>Assign values to dc note line item</label>
        <locationX>589</locationX>
        <locationY>1053</locationY>
        <assignmentItems>
            <assignToReference>varSingleDcNoteLineItem.Doc_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>creditNoteDcRecordID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleDcNoteLineItem.CGST__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterating_sales_order_line_items.CGST__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleDcNoteLineItem.SGST__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterating_sales_order_line_items.SGST__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleDcNoteLineItem.IGST__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterating_sales_order_line_items.IGST__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleDcNoteLineItem.Part_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterating_sales_order_line_items.Part_Number__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleDcNoteLineItem.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterating_sales_order_line_items.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleDcNoteLineItem.Unit_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterating_sales_order_line_items.Unit_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleDcNoteLineItem.Discount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterating_sales_order_line_items.Discount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleDcNoteLineItem.Usage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterating_sales_order_line_items.Usage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleDcNoteLineItem.Specification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterating_sales_order_line_items.Specification__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleDcNoteLineItem.Remark__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterating_sales_order_line_items.Remark__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoiceTaxableAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterating_sales_order_line_items.Taxable_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>adding_single_into_collection_variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_values_to_delivery_note_fields</name>
        <label>assign values to delivery note fields</label>
        <locationX>1226</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>varSingleDeliveryNote.CGST__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sorder_return_line_items_loop.CGST__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleDeliveryNote.CGST_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sorder_return_line_items_loop.CGST_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleDeliveryNote.SGST__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sorder_return_line_items_loop.SGST__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleDeliveryNote.SGST_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sorder_return_line_items_loop.SGST_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleDeliveryNote.IGST__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sorder_return_line_items_loop.IGST__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleDeliveryNote.IGST_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sorder_return_line_items_loop.IGST_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleDeliveryNote.Sales_Order_Dispatch_Delivery_Note__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>deliverynoteid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleDeliveryNote.Discount_Currency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sorder_return_line_items_loop.Discount_Currency__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleDeliveryNote.Net_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sorder_return_line_items_loop.Net_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleDeliveryNote.Part_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sorder_return_line_items_loop.Part_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleDeliveryNote.Product_Part__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sorder_return_line_items_loop.Part_Number__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleDeliveryNote.Unit_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sorder_return_line_items_loop.Unit_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleDeliveryNote.Taxable_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sorder_return_line_items_loop.Taxable_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleDeliveryNote.Discount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sorder_return_line_items_loop.Discount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleDeliveryNote.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sorder_return_line_items_loop.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleDeliveryNote.Specification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sorder_return_line_items_loop.Specification__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleDeliveryNote.Remark__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sorder_return_line_items_loop.Remark__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleDeliveryNote.Sales_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sorder_return_line_items_loop.Unit_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StockRecord.Product_Out__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StockQuantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StockRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sorder_return_line_items_loop.Stock__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Stock_Assign</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Not_Available_Stock_Lineitem_0</name>
        <label>Not Available Stock Lineitem</label>
        <locationX>1615</locationX>
        <locationY>605</locationY>
        <assignmentItems>
            <assignToReference>LineItemName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Stock_Check.Part_Number__r.Part_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LineItemName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>   |  </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>No_Stock</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Stock_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stock_Assign</name>
        <label>Stock Assign</label>
        <locationX>1226</locationX>
        <locationY>1480</locationY>
        <assignmentItems>
            <assignToReference>StockList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>StockRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>adding_single_into_collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_field_values</name>
        <label>check field values</label>
        <locationX>804</locationX>
        <locationY>326</locationY>
        <defaultConnector>
            <targetReference>Field_Needs_to_Update_Required</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>return</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_sales_order_return.State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Return</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_sales_order_return_line_item</targetReference>
            </connector>
            <label>return</label>
        </rules>
        <rules>
            <name>replacement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_sales_order_return.State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Replacement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_mrn</targetReference>
            </connector>
            <label>replacement</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_line_items</name>
        <label>check line items</label>
        <locationX>430</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>No_Sales_order_Return_line_item</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_sales_order_return_line_item</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_record_type</targetReference>
            </connector>
            <label>valid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Stock_Avability_0</name>
        <label>Check Stock Avability</label>
        <locationX>1294</locationX>
        <locationY>552</locationY>
        <defaultConnector>
            <targetReference>Not_Available_Stock_Lineitem_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Available_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Stock_Check.Unbooked_Stock_Qunatity__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Stock_Check.Quantity__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stock_Check</targetReference>
            </connector>
            <label>Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stock_Not_Available_for_Some_Item</name>
        <label>Stock Not Available for Some Item</label>
        <locationX>1623</locationX>
        <locationY>982</locationY>
        <defaultConnector>
            <targetReference>create_delivery_note</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_availbale</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>No_Stock</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delivery_Note_0</targetReference>
            </connector>
            <label>Not availbale</label>
        </rules>
    </decisions>
    <formulas>
        <name>StockQuantity</name>
        <dataType>Number</dataType>
        <expression>{!sorder_return_line_items_loop.Stock__r.Product_Out__c} + {!sorder_return_line_items_loop.Quantity__c}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Create Credit Note {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Credit Note/ Delivery note</label>
    <loops>
        <name>iteratecharges</name>
        <label>iteratecharges</label>
        <locationX>297</locationX>
        <locationY>1680</locationY>
        <collectionReference>get_charges</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>create_charges</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterating_sales_order_line_items</name>
        <label>Iterating  sales order line items</label>
        <locationX>298</locationX>
        <locationY>1046</locationY>
        <collectionReference>get_sales_order_return_line_item</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_values_to_dc_note_line_item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>craete_dc_note_line_item</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>sorder_return_line_items_loop</name>
        <label>sorder return line items loop</label>
        <locationX>914</locationX>
        <locationY>1338</locationY>
        <collectionReference>on_get_sales_order_return_line_item2</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_values_to_delivery_note_fields</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>create_delivery_note_line_items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Stock_Check</name>
        <label>Stock Check</label>
        <locationX>1074</locationX>
        <locationY>749</locationY>
        <collectionReference>on_get_sales_order_return_line_item2</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Stock_Avability_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Stock_Not_Available_for_Some_Item</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>craete_dc_note_line_item</name>
        <label>craete dc note line item</label>
        <locationX>298</locationX>
        <locationY>1287</locationY>
        <connector>
            <targetReference>get_charges</targetReference>
        </connector>
        <inputReference>varCollectionDcNoteLineItem</inputReference>
    </recordCreates>
    <recordCreates>
        <name>create_charges</name>
        <label>create charges</label>
        <locationX>285</locationX>
        <locationY>1968</locationY>
        <connector>
            <targetReference>Credit_Note</targetReference>
        </connector>
        <inputReference>varCollectioncharge</inputReference>
    </recordCreates>
    <recordCreates>
        <name>create_credit_note</name>
        <label>create credit note</label>
        <locationX>298</locationX>
        <locationY>926</locationY>
        <assignRecordIdToReference>creditNoteDcRecordID</assignRecordIdToReference>
        <connector>
            <targetReference>Iterating_sales_order_line_items</targetReference>
        </connector>
        <inputAssignments>
            <field>Bill_To_Customer_Name__c</field>
            <value>
                <elementReference>get_sales_order_return.Bill_To_Customer_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Container_No__c</field>
            <value>
                <elementReference>get_sales_order_return.Container_No__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Party__c</field>
            <value>
                <elementReference>customerPartyLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Delivery_Term__c</field>
            <value>
                <elementReference>get_sales_order_return.Delivery_Term__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Detail__c</field>
            <value>
                <elementReference>get_sales_order_return.Detail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dispatch_To_Customer_Name__c</field>
            <value>
                <elementReference>get_sales_order_return.Dispatch_To_Customer_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice__c</field>
            <value>
                <elementReference>get_sales_order_return.Invoice__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LC_Date__c</field>
            <value>
                <elementReference>get_sales_order_return.LC_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LC_Expected_Date__c</field>
            <value>
                <elementReference>get_sales_order_return.LC_Expected_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LC_Term__c</field>
            <value>
                <elementReference>get_sales_order_return.LC_Term__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MRN__c</field>
            <value>
                <elementReference>get_sales_order_return.MRN__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Method__c</field>
            <value>
                <elementReference>get_sales_order_return.Payment_Method__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Term__c</field>
            <value>
                <elementReference>get_sales_order_return.Payment_Term__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>get_record_type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Officer__c</field>
            <value>
                <elementReference>get_sales_order_return.Sales_Officer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Order_Return__c</field>
            <value>
                <elementReference>SalesOrderReturnLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Account__c</field>
            <value>
                <elementReference>get_sales_order_return.Shipping_Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_City__c</field>
            <value>
                <elementReference>get_sales_order_return.Shipping_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Country__c</field>
            <value>
                <elementReference>get_sales_order_return.Shipping_Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_State_Province__c</field>
            <value>
                <elementReference>get_sales_order_return.Shipping_State_Province__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Street__c</field>
            <value>
                <elementReference>get_sales_order_return.Shipping_Street__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Zip_Postal_Code__c</field>
            <value>
                <elementReference>get_sales_order_return.Shipping_Zip_Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transportation_Mode__c</field>
            <value>
                <elementReference>get_sales_order_return.Transportation_Mode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transporter_Name__c</field>
            <value>
                <elementReference>get_sales_order_return.Transporter_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Validity_Days__c</field>
            <value>
                <elementReference>get_sales_order_return.Validity_Days__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vehicle_No__c</field>
            <value>
                <elementReference>get_sales_order_return.Vehicle_No__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Voucher_Date__c</field>
            <value>
                <elementReference>get_sales_order_return.Voucher_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>DC_Note__c</object>
    </recordCreates>
    <recordCreates>
        <name>create_delivery_note</name>
        <label>create delivery note</label>
        <locationX>914</locationX>
        <locationY>1218</locationY>
        <assignRecordIdToReference>deliverynoteid</assignRecordIdToReference>
        <connector>
            <targetReference>sorder_return_line_items_loop</targetReference>
        </connector>
        <inputAssignments>
            <field>Container_No__c</field>
            <value>
                <elementReference>get_sales_order_return.Container_No__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Party__c</field>
            <value>
                <elementReference>get_sales_order_return.Customer_Party__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Docket_LR_Date__c</field>
            <value>
                <elementReference>get_sales_order_return.Docket_LR_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Docket_LR_No__c</field>
            <value>
                <elementReference>get_sales_order_return.Docket_LR_No__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LC_Date__c</field>
            <value>
                <elementReference>get_sales_order_return.LC_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LC_Expected_date__c</field>
            <value>
                <elementReference>get_sales_order_return.LC_Expected_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LC_Term__c</field>
            <value>
                <elementReference>get_sales_order_return.LC_Term__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mode__c</field>
            <value>
                <elementReference>get_sales_order_return.Transportation_Mode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Order_Return__c</field>
            <value>
                <elementReference>get_sales_order_return.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Order__c</field>
            <value>
                <elementReference>get_mrn_line_item.Sales_Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Account__c</field>
            <value>
                <elementReference>get_sales_order_return.Shipping_Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_City__c</field>
            <value>
                <elementReference>get_sales_order_return.Shipping_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Country__c</field>
            <value>
                <elementReference>get_sales_order_return.Shipping_Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_State_Province__c</field>
            <value>
                <elementReference>get_sales_order_return.Shipping_State_Province__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Street__c</field>
            <value>
                <elementReference>get_sales_order_return.Shipping_Street__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Zip_Postal_Code__c</field>
            <value>
                <elementReference>get_sales_order_return.Shipping_Zip_Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transporter__c</field>
            <value>
                <elementReference>get_mrn.Transporter_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vehicle_No__c</field>
            <value>
                <elementReference>get_sales_order_return.Vehicle_No__c</elementReference>
            </value>
        </inputAssignments>
        <object>Sales_Order_Dispatch_Delivery_Note__c</object>
    </recordCreates>
    <recordCreates>
        <name>create_delivery_note_line_items</name>
        <label>create delivery note line items</label>
        <locationX>754</locationX>
        <locationY>1480</locationY>
        <connector>
            <targetReference>Update_Stock</targetReference>
        </connector>
        <inputReference>varCollectionDeliveryNoteLineItem</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_charges</name>
        <label>get charges</label>
        <locationX>298</locationX>
        <locationY>1472</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>iteratecharges</targetReference>
        </connector>
        <filters>
            <field>Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_sales_order_return.Invoice__c</elementReference>
            </value>
        </filters>
        <object>Charges__c</object>
    </recordLookups>
    <recordLookups>
        <name>get_mrn</name>
        <label>get mrn</label>
        <locationX>914</locationX>
        <locationY>446</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>on_get_sales_order_return_line_item2</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_sales_order_return.MRN__c</elementReference>
            </value>
        </filters>
        <object>MRN__c</object>
    </recordLookups>
    <recordLookups>
        <name>get_mrn_line_item</name>
        <label>get mrn line item</label>
        <locationX>914</locationX>
        <locationY>686</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Stock_Check</targetReference>
        </connector>
        <filters>
            <field>MRN__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_mrn.Id</elementReference>
            </value>
        </filters>
        <object>MRN_Line_Item__c</object>
    </recordLookups>
    <recordLookups>
        <name>get_record_type</name>
        <label>get record type</label>
        <locationX>298</locationX>
        <locationY>686</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Credite_Note</targetReference>
        </connector>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DC_Note__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Credit Note</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
    </recordLookups>
    <recordLookups>
        <name>get_sales_order_return</name>
        <label>get sales order return</label>
        <locationX>804</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_field_values</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Sales_Order_Return__c</object>
    </recordLookups>
    <recordLookups>
        <name>get_sales_order_return_line_item</name>
        <label>get sales order return line item</label>
        <locationX>430</locationX>
        <locationY>446</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_line_items</targetReference>
        </connector>
        <filters>
            <field>Doc_No__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Sales_Order_Return_Line_Item__c</object>
    </recordLookups>
    <recordLookups>
        <name>on_get_sales_order_return_line_item2</name>
        <label>on get sales order return line item2</label>
        <locationX>914</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_mrn_line_item</targetReference>
        </connector>
        <filters>
            <field>Doc_No__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Sales_Order_Return_Line_Item__c</object>
    </recordLookups>
    <recordUpdates>
        <name>Update_Stock</name>
        <label>Update Stock</label>
        <locationX>917</locationX>
        <locationY>1472</locationY>
        <connector>
            <targetReference>Delivery_Note</targetReference>
        </connector>
        <inputReference>StockList</inputReference>
    </recordUpdates>
    <screens>
        <name>Create_Credite_Note</name>
        <label>Create Credit Note</label>
        <locationX>298</locationX>
        <locationY>806</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>create_credit_note</targetReference>
        </connector>
        <fields>
            <name>SalesOrderReturnLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Sales_Order_Return__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Sales Order Return</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>DC_Note__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>get_sales_order_return.Id</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>customerPartyLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Customer_Party__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Customer/Party</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>DC_Note__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>get_sales_order_return.Customer_Party__r.Id</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Credit_Note</name>
        <label>Credit Note</label>
        <locationX>286</locationX>
        <locationY>2137</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 18px; color: rgb(34, 195, 11);&quot;&gt;Credit Note Successfully Created&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Delivery_Note</name>
        <label>Delivery Note</label>
        <locationX>1001</locationX>
        <locationY>1635</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessage_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(34, 195, 11); font-size: 18px;&quot;&gt;Delivery Note Successfully Created&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Delivery_Note_0</name>
        <label>Delivery Note</label>
        <locationX>1637</locationX>
        <locationY>1175</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessage_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 18px; color: rgb(234, 6, 6);&quot;&gt;Stock Not Available for some Lineitem.&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 18px; color: rgb(234, 6, 6);&quot;&gt;: {!LineItemName}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Field_Needs_to_Update_Required</name>
        <label>Field Needs to Update Required</label>
        <locationX>1178</locationX>
        <locationY>446</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>displaymsg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 18px; color: rgb(222, 16, 16);&quot;&gt;Please Update Status Field. &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Sales_order_Return_line_item</name>
        <label>No Sales order Return line item</label>
        <locationX>562</locationX>
        <locationY>684</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrrorMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px; color: rgb(198, 5, 5);&quot;&gt;Please add Sales Order Line Items to Create Credit Note.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>get_sales_order_return</startElementReference>
    <status>Active</status>
    <variables>
        <name>creditNoteDcRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>deliverynoteid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>invoiceTaxableAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>LineItemName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>No_Stock</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>opportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunityIdForScreen</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StockList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Stock__c</objectType>
    </variables>
    <variables>
        <name>StockRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Stock__c</objectType>
    </variables>
    <variables>
        <name>varCollectioncharge</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Charges__c</objectType>
    </variables>
    <variables>
        <name>varCollectionDcNoteLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DC_Note_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>varCollectionDeliveryNoteLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Delivery_Note_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>varSingleCharge</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Charges__c</objectType>
    </variables>
    <variables>
        <name>varSingleDcNoteLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DC_Note_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>varSingleDeliveryNote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Delivery_Note_Line_Item__c</objectType>
    </variables>
</Flow>
