force-app/main/default/flows/Create_Service_Enquiry_and_items.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_is_list</name>
        <label>Assign is list</label>
        <locationX>1657</locationX>
        <locationY>523</locationY>
        <assignmentItems>
            <assignToReference>EnquiryitemList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Enquirylineitem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Liteitem_partrequest</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment1</name>
        <label>Assignment1</label>
        <locationX>1030</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>WareHouse_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Gurgaon Ware House</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OwnerGroupName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Gurugram Team</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>WareHouse</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment2</name>
        <label>Assignment2</label>
        <locationX>1076</locationX>
        <locationY>192</locationY>
        <assignmentItems>
            <assignToReference>WareHouse_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Kolkata Warehouse</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OwnerGroupName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Kolkata Team</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>WareHouse</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment3</name>
        <label>Assignment3</label>
        <locationX>988</locationX>
        <locationY>318</locationY>
        <assignmentItems>
            <assignToReference>EnquiryWarehouseId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EnquiryOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Service_Request.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment3_0</name>
        <label>Assignment3</label>
        <locationX>1355</locationX>
        <locationY>306</locationY>
        <assignmentItems>
            <assignToReference>EnquiryWarehouseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WareHouse.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EnquiryOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Group.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LineItem</name>
        <label>LineItem</label>
        <locationX>1657</locationX>
        <locationY>326</locationY>
        <assignmentItems>
            <assignToReference>Enquirylineitem.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EnquiryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Enquirylineitem.Product_Part__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Liteitem_partrequest.Part__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Enquirylineitem.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Liteitem_partrequest.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Enquirylineitem.Sales_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Liteitem_partrequest.Total_Cost__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_is_list</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Branch</name>
        <label>Check Branch</label>
        <locationX>757</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Assignment3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Gurugram</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Service_Request.Owner:User.Branch__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gurugram</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment1</targetReference>
            </connector>
            <label>Gurugram</label>
        </rules>
        <rules>
            <name>Kolkata</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Service_Request.Owner:User.Branch__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Kolkata</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment2</targetReference>
            </connector>
            <label>Kolkata</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Record_avability</name>
        <label>Check Record avability</label>
        <locationX>757</locationX>
        <locationY>390</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Part_Request</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Branch</targetReference>
            </connector>
            <label>Check</label>
        </rules>
    </decisions>
    <formulas>
        <name>EnquiryType</name>
        <dataType>String</dataType>
        <expression>CASE(TEXT({!Service_Request.Case_Type__c}), &apos;AMC&apos;, &apos;AMC&apos;, &apos;WAR&apos;, &apos;Warranty&apos;,&apos;Service&apos;)</expression>
    </formulas>
    <interviewLabel>Create Service Enquiry and items {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Service Enquiry and items</label>
    <loops>
        <name>Liteitem_partrequest</name>
        <label>Liteitem_partrequest</label>
        <locationX>1336</locationX>
        <locationY>418</locationY>
        <collectionReference>Part_Request</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>LineItem</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>1197</locationX>
        <locationY>417</locationY>
        <assignRecordIdToReference>EnquiryId</assignRecordIdToReference>
        <connector>
            <targetReference>Liteitem_partrequest</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact_Person__c</field>
            <value>
                <elementReference>Service_Request.Contact_Person_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Asset__c</field>
            <value>
                <elementReference>Service_Request.ESN__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OEM_Customer__c</field>
            <value>
                <elementReference>Service_Request.Customer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Close_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Type__c</field>
            <value>
                <elementReference>EnquiryType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Request__c</field>
            <value>
                <elementReference>Service_Request.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ware_House__c</field>
            <value>
                <elementReference>EnquiryWarehouseId</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_record</name>
        <label>Create record</label>
        <locationX>1336</locationX>
        <locationY>636</locationY>
        <inputReference>EnquiryitemList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Group</name>
        <label>Group</label>
        <locationX>1254</locationX>
        <locationY>222</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment3_0</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OwnerGroupName</elementReference>
            </value>
        </filters>
        <object>Group</object>
    </recordLookups>
    <recordLookups>
        <name>Part_Request</name>
        <label>Part Request</label>
        <locationX>461</locationX>
        <locationY>387</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Record_avability</targetReference>
        </connector>
        <filters>
            <field>Service_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Part_Request__c</object>
    </recordLookups>
    <recordLookups>
        <name>Service_Request</name>
        <label>Service Request</label>
        <locationX>277</locationX>
        <locationY>386</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Part_Request</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Service_Request__c</object>
    </recordLookups>
    <recordLookups>
        <name>WareHouse</name>
        <label>WareHouse</label>
        <locationX>1255</locationX>
        <locationY>97</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Group</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WareHouse_Name</elementReference>
            </value>
        </filters>
        <object>Ware_House__c</object>
    </recordLookups>
    <startElementReference>Service_Request</startElementReference>
    <status>Active</status>
    <variables>
        <name>EnquiryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EnquiryitemList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Line_Item__c</objectType>
    </variables>
    <variables>
        <name>Enquirylineitem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Line_Item__c</objectType>
    </variables>
    <variables>
        <name>EnquiryOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EnquiryWarehouseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OwnerGroupName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WareHouse_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
