force-app/main/default/flows/Create_Invoice_and_Invoice_Line_item.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>adding_in_collection_variable</name>
        <label>adding in collection variable</label>
        <locationX>782</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>varCollectionInvoiceLineItem</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VarSingleInvoiceLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iterate_delivery_note_line_items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>adding_into_collection_variable</name>
        <label>adding into collection variable</label>
        <locationX>782</locationX>
        <locationY>2102</locationY>
        <assignmentItems>
            <assignToReference>varChargesCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSingleChargeRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iterate_charges</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_charges_to_invoice</name>
        <label>assign charges to invoice</label>
        <locationX>782</locationX>
        <locationY>1862</locationY>
        <assignmentItems>
            <assignToReference>varSingleChargeRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iterate_charges</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignment_of_charges_fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_values</name>
        <label>assign values</label>
        <locationX>782</locationX>
        <locationY>1286</locationY>
        <assignmentItems>
            <assignToReference>VarSingleInvoiceLineItem.Part_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iterate_delivery_note_line_items.Product_Part__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSingleInvoiceLineItem.CGST__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iterate_delivery_note_line_items.CGST__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSingleInvoiceLineItem.SGST__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iterate_delivery_note_line_items.SGST__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSingleInvoiceLineItem.IGST__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iterate_delivery_note_line_items.IGST__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSingleInvoiceLineItem.Unit_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iterate_delivery_note_line_items.Sales_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSingleInvoiceLineItem.Discount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iterate_delivery_note_line_items.Discount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSingleInvoiceLineItem.Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InvoiceId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSingleInvoiceLineItem.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iterate_delivery_note_line_items.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSingleInvoiceLineItem.HSN_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iterate_delivery_note_line_items.HSN_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSingleInvoiceLineItem.Customer_Part_Num__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iterate_delivery_note_line_items.Part_Serial__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>adding_in_collection_variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignment_of_charges_fields</name>
        <label>assignment of charges fields</label>
        <locationX>782</locationX>
        <locationY>1982</locationY>
        <assignmentItems>
            <assignToReference>varSingleChargeRecord.Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InvoiceId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleChargeRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleChargeRecord.Delivery_Note__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>adding_into_collection_variable</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>RecordTypeForServiceInvoice</name>
        <choiceText>Service Invoice</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>RecordtypeForTaxInvoice</name>
        <choiceText>Tax Invoice</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Check</name>
        <label>Check</label>
        <locationX>559</locationX>
        <locationY>386</locationY>
        <defaultConnector>
            <targetReference>get_delivery_note</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>invoice_available1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Pre_Invoice</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invoice_available</targetReference>
            </connector>
            <label>invoice available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Delivery_note_Line_Items</name>
        <label>Check Delivery note Line Items</label>
        <locationX>826</locationX>
        <locationY>806</locationY>
        <defaultConnector>
            <targetReference>NO_Line_Items_Added</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>chk_ids_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_delivery_note_line_item</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_record_type</targetReference>
            </connector>
            <label>chk ids true</label>
        </rules>
    </decisions>
    <interviewLabel>Create Invoice and Invoice Line item {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Invoice and Invoice Line item</label>
    <loops>
        <name>iterate_charges</name>
        <label>iterate charges</label>
        <locationX>694</locationX>
        <locationY>1742</locationY>
        <collectionReference>get_charges</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_charges_to_invoice</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>create_charges_record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>iterate_delivery_note_line_items</name>
        <label>iterate delivery note line items</label>
        <locationX>694</locationX>
        <locationY>1166</locationY>
        <collectionReference>get_delivery_note_line_item</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>create_invoivce_line_items_record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_charges_record</name>
        <label>create charges record</label>
        <locationX>694</locationX>
        <locationY>2318</locationY>
        <connector>
            <targetReference>Record_Created</targetReference>
        </connector>
        <inputReference>varChargesCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Invoice</name>
        <label>Create Invoice</label>
        <locationX>694</locationX>
        <locationY>1046</locationY>
        <assignRecordIdToReference>InvoiceId</assignRecordIdToReference>
        <connector>
            <targetReference>iterate_delivery_note_line_items</targetReference>
        </connector>
        <inputAssignments>
            <field>Bank__c</field>
            <value>
                <elementReference>get_delivery_note.Bank__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Person__c</field>
            <value>
                <elementReference>get_delivery_note.Sales_Order__r.Contact_Person__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Asset__c</field>
            <value>
                <elementReference>get_delivery_note.Sales_Order__r.Customer_Asset__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Name__c</field>
            <value>
                <elementReference>get_delivery_note.Customer_Party__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_PO_Date__c</field>
            <value>
                <elementReference>get_delivery_note.Customer_PO_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_PO_No__c</field>
            <value>
                <elementReference>get_delivery_note.Customer_PO_No__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DC_No__c</field>
            <value>
                <elementReference>get_delivery_note.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Of_Supply__c</field>
            <value>
                <elementReference>get_delivery_note.Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ESN__c</field>
            <value>
                <elementReference>get_delivery_note.Sales_Order__r.Customer_Asset__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_of_Contact__c</field>
            <value>
                <elementReference>get_delivery_note.Email_of_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Type__c</field>
            <value>
                <stringValue>Original for Recipient</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LC_Date__c</field>
            <value>
                <elementReference>get_delivery_note.LC_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LC_No__c</field>
            <value>
                <elementReference>get_delivery_note.LC_No__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LC_Tenure__c</field>
            <value>
                <elementReference>get_delivery_note.LC_Tenure__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LC_Term__c</field>
            <value>
                <elementReference>get_delivery_note.LC_Term__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Term__c</field>
            <value>
                <elementReference>get_delivery_note.Payment_Term__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Place_of_Supply__c</field>
            <value>
                <elementReference>get_delivery_note.Sales_Order__r.Ware_House__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>get_record_type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Remarks_Note__c</field>
            <value>
                <elementReference>get_delivery_note.Remark__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reverse_Charge__c</field>
            <value>
                <elementReference>get_delivery_note.Reverse_Charge__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Account__c</field>
            <value>
                <elementReference>get_delivery_note.Shipping_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_City__c</field>
            <value>
                <elementReference>get_delivery_note.Shipping_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Country__c</field>
            <value>
                <elementReference>get_delivery_note.Shipping_Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_State_Province__c</field>
            <value>
                <elementReference>get_delivery_note.Shipping_State_Province__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Street__c</field>
            <value>
                <elementReference>get_delivery_note.Shipping_Street__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Zip_Postal_Code__c</field>
            <value>
                <elementReference>get_delivery_note.Shipping_Zip_Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transport_Mode__c</field>
            <value>
                <elementReference>get_delivery_note.Mode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transporter__c</field>
            <value>
                <elementReference>get_delivery_note.Transporter__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>get_delivery_note.Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vehicle_Docket_No__c</field>
            <value>
                <elementReference>get_delivery_note.Vehicle_No__c</elementReference>
            </value>
        </inputAssignments>
        <object>Invoice__c</object>
    </recordCreates>
    <recordCreates>
        <name>create_invoivce_line_items_record</name>
        <label>create invoivce line items record</label>
        <locationX>694</locationX>
        <locationY>1622</locationY>
        <connector>
            <targetReference>iterate_charges</targetReference>
        </connector>
        <inputReference>varCollectionInvoiceLineItem</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_charges</name>
        <label>get charges</label>
        <locationX>826</locationX>
        <locationY>686</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Delivery_note_Line_Items</targetReference>
        </connector>
        <filters>
            <field>Delivery_Note__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Charges__c</object>
    </recordLookups>
    <recordLookups>
        <name>get_delivery_note</name>
        <label>get delivery note</label>
        <locationX>826</locationX>
        <locationY>446</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_delivery_note_line_item</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Sales_Order_Dispatch_Delivery_Note__c</object>
    </recordLookups>
    <recordLookups>
        <name>get_delivery_note_line_item</name>
        <label>get delivery note line item</label>
        <locationX>826</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_charges</targetReference>
        </connector>
        <filters>
            <field>Sales_Order_Dispatch_Delivery_Note__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Delivery_Note_Line_Item__c</object>
    </recordLookups>
    <recordLookups>
        <name>get_record_type</name>
        <label>get record type</label>
        <locationX>694</locationX>
        <locationY>926</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Invoice</targetReference>
        </connector>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Invoice__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tax Invoice</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
    </recordLookups>
    <recordLookups>
        <name>Pre_Invoice</name>
        <label>Pre Invoice</label>
        <locationX>584</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check</targetReference>
        </connector>
        <filters>
            <field>DC_No__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <object>Invoice__c</object>
    </recordLookups>
    <screens>
        <name>Invoice_available</name>
        <label>Invoice available</label>
        <locationX>277</locationX>
        <locationY>492</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(255, 0, 0); font-size: 16px;&quot;&gt;Invoice already exists for this Delivery Note.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NO_Line_Items_Added</name>
        <label>NO Line Items Added</label>
        <locationX>958</locationX>
        <locationY>926</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorsMsg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(240, 4, 4); font-size: 18px;&quot;&gt;Please add Delivery Note Line Items to create Invoice﻿.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Record_Created</name>
        <label>Record Created</label>
        <locationX>694</locationX>
        <locationY>2438</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SuccessMessageRecordCreated</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(36, 201, 10); font-size: 18px;&quot;&gt;Invoice created successfully.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Pre_Invoice</startElementReference>
    <status>Active</status>
    <variables>
        <name>InvoiceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>invoiceStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varChargesCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Charges__c</objectType>
    </variables>
    <variables>
        <name>varCollectionInvoiceLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>varSingleChargeRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Charges__c</objectType>
    </variables>
    <variables>
        <name>VarSingleInvoiceLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice_Line_Item__c</objectType>
    </variables>
</Flow>
