force-app/main/default/flows/create_Service_Invoice_On_quote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>adding_single_into_collection</name>
        <label>adding single into collection</label>
        <locationX>540</locationX>
        <locationY>1526</locationY>
        <assignmentItems>
            <assignToReference>varCollectionInvoiceLineItem</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSingleInvoiceLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iterating_quote_line_items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_values_to_invoice_line_item_fields</name>
        <label>assign values to invoice line item fields</label>
        <locationX>540</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>varSingleInvoiceLineItem.CGST__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SGST_CGST_Percentage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleInvoiceLineItem.CGST_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iterating_quote_line_items.CGST_Amount_Formula__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleInvoiceLineItem.SGST__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SGST_CGST_Percentage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleInvoiceLineItem.SGST_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iterating_quote_line_items.SGST_Amount_Formula__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleInvoiceLineItem.IGST__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IGST_Percentage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleInvoiceLineItem.IGST_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iterating_quote_line_items.IGST_Amount_Formula__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleInvoiceLineItem.HSN_SAC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iterating_quote_line_items.HSN_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleInvoiceLineItem.Part_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iterating_quote_line_items.Product_Part__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleInvoiceLineItem.Discount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iterating_quote_line_items.Discount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleInvoiceLineItem.Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>invoiceId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleInvoiceLineItem.IGST_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iterating_quote_line_items.IGST_Amount_Formula__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleInvoiceLineItem.Net_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iterating_quote_line_items.Net_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleInvoiceLineItem.Taxable_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iterating_quote_line_items.Taxable_Amount_Formula__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleInvoiceLineItem.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iterating_quote_line_items.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleInvoiceLineItem.Unit_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iterating_quote_line_items.Sales_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleInvoiceLineItem.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iterating_quote_line_items.Remark__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>adding_single_into_collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_quote_line_item_ids</name>
        <label>check quote line item ids</label>
        <locationX>584</locationX>
        <locationY>446</locationY>
        <defaultConnector>
            <targetReference>No_Line_Items_Selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>quote_recordtype_in_AMC_Service</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>get_quote_id.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_quote_id.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AMC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_quote_line_item</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_record_type_of_invoice</targetReference>
            </connector>
            <label>quote recordtype in AMC  Service</label>
        </rules>
    </decisions>
    <formulas>
        <name>IGST_Percentage</name>
        <dataType>Number</dataType>
        <expression>if({!get_quote_id.Customer_Party__r.Billing_State_Code__c}  != {!get_quote_id.Opportunity__r.Ware_House__r.State_Code__c}, {!iterating_quote_line_items.GST__c},0)*100</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>SGST_CGST_Percentage</name>
        <dataType>Number</dataType>
        <expression>if({!get_quote_id.Customer_Party__r.Billing_State_Code__c}  == {!get_quote_id.Opportunity__r.Ware_House__r.State_Code__c}, {!iterating_quote_line_items.GST__c}/2,0)*100</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>create Service Invoice On quote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>create Service Invoice On quote</label>
    <loops>
        <name>iterating_quote_line_items</name>
        <label>iterating quote line items</label>
        <locationX>452</locationX>
        <locationY>1286</locationY>
        <collectionReference>get_quote_line_item</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_values_to_invoice_line_item_fields</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>create_invoice_line_items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_invoice_line_items</name>
        <label>create invoice line items</label>
        <locationX>452</locationX>
        <locationY>1742</locationY>
        <connector>
            <targetReference>Invoice_Generated</targetReference>
        </connector>
        <inputReference>varCollectionInvoiceLineItem</inputReference>
    </recordCreates>
    <recordCreates>
        <name>create_invoice_record</name>
        <label>create invoice record</label>
        <locationX>452</locationX>
        <locationY>1166</locationY>
        <assignRecordIdToReference>invoiceId</assignRecordIdToReference>
        <connector>
            <targetReference>iterating_quote_line_items</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact_Person__c</field>
            <value>
                <elementReference>screenContactname.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Asset__c</field>
            <value>
                <elementReference>get_enquiryOpportunityId.Customer_Asset__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Name__c</field>
            <value>
                <elementReference>ScreenCustomerParty.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_PO_No__c</field>
            <value>
                <elementReference>get_quote_id.Opportunity__r.Customer_PO_No__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Of_Supply__c</field>
            <value>
                <elementReference>get_enquiryOpportunityId.Date_of_Supply__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_of_Contact__c</field>
            <value>
                <elementReference>get_quote_id.Contact_Name__r.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Date__c</field>
            <value>
                <elementReference>Invoice_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LC_Date__c</field>
            <value>
                <elementReference>get_quote_id.Opportunity__r.LC_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LC_Term__c</field>
            <value>
                <elementReference>get_quote_id.Opportunity__r.LC_Term__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PO_Date__c</field>
            <value>
                <elementReference>get_quote_id.Opportunity__r.PO_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Term__c</field>
            <value>
                <elementReference>get_quote_id.Payment_Term__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Place_of_Supply__c</field>
            <value>
                <elementReference>get_quote_id.Opportunity__r.Ware_House__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote__c</field>
            <value>
                <elementReference>get_quote_id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>get_record_type_of_invoice.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Remarks_Note__c</field>
            <value>
                <elementReference>get_quote_id.Remark__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Account__c</field>
            <value>
                <elementReference>get_enquiryOpportunityId.Shipping_Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_City__c</field>
            <value>
                <elementReference>get_enquiryOpportunityId.Shipping_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Country__c</field>
            <value>
                <elementReference>get_enquiryOpportunityId.Shipping_Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_State_Province__c</field>
            <value>
                <elementReference>get_enquiryOpportunityId.Shipping_State_Province__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Street__c</field>
            <value>
                <elementReference>get_enquiryOpportunityId.Shipping_Street__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Zip_Postal_Code__c</field>
            <value>
                <elementReference>get_enquiryOpportunityId.Shipping_Zip_Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transport_Mode__c</field>
            <value>
                <elementReference>get_enquiryOpportunityId.Transportation_Mode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transporter__c</field>
            <value>
                <elementReference>get_enquiryOpportunityId.Transporter_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>get_quote_id.RecordType_Picklist__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vehicle_Docket_No__c</field>
            <value>
                <elementReference>get_enquiryOpportunityId.Vehicle_Docket_No__c</elementReference>
            </value>
        </inputAssignments>
        <object>Invoice__c</object>
    </recordCreates>
    <recordLookups>
        <name>get_enquiryOpportunityId</name>
        <label>get enquiryOpportunityId</label>
        <locationX>452</locationX>
        <locationY>926</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Generate_Service_Invoice</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_quote_id.Opportunity__c</elementReference>
            </value>
        </filters>
        <object>Opportunity__c</object>
    </recordLookups>
    <recordLookups>
        <name>get_quote_id</name>
        <label>get quote id</label>
        <locationX>584</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_quote_line_item</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Quote__c</object>
    </recordLookups>
    <recordLookups>
        <name>get_quote_line_item</name>
        <label>get quote line item</label>
        <locationX>584</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_quote_line_item_ids</targetReference>
        </connector>
        <filters>
            <field>Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_quote_id.Id</elementReference>
            </value>
        </filters>
        <object>Line_Item__c</object>
    </recordLookups>
    <recordLookups>
        <name>get_record_type_of_invoice</name>
        <label>get record type of invoice</label>
        <locationX>451</locationX>
        <locationY>806</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_enquiryOpportunityId</targetReference>
        </connector>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Invoice__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Service_Invoice</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
    </recordLookups>
    <screens>
        <name>Generate_Service_Invoice</name>
        <label>Generate Service Invoice</label>
        <locationX>452</locationX>
        <locationY>1046</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>create_invoice_record</targetReference>
        </connector>
        <fields>
            <name>ScreenCustomerParty</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Customer_Party__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Customer/Party</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Quote__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>get_quote_id.Customer_Party__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ScreenEnquiry</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Opportunity__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Enquiry</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Quote__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>get_quote_id.Opportunity__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>screenContactname</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Contact_Name__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Contact Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Quote__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>get_quote_id.Contact_Name__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Invoice_Date</name>
            <dataType>Date</dataType>
            <fieldText>Invoice Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Invoice_Generated</name>
        <label>Invoice Generated</label>
        <locationX>452</locationX>
        <locationY>1862</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMsg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(15, 182, 20); font-size: 16px;&quot;&gt;Invoice created Successfully.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Line_Items_Selected</name>
        <label>No Line Items Selected</label>
        <locationX>716</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>displayMsg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(201, 5, 5); font-size: 18px;&quot;&gt;Please add Line Items to Quotation.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>get_quote_id</startElementReference>
    <status>Active</status>
    <variables>
        <name>invoiceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCollectionInvoiceLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>varSingleInvoiceLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice_Line_Item__c</objectType>
    </variables>
</Flow>
