force-app/main/default/flows/create_sales_order_return.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>adding_sinle_var_into_collection</name>
        <label>adding sinle var into collection</label>
        <locationX>1203</locationX>
        <locationY>426</locationY>
        <assignmentItems>
            <assignToReference>varCollectionSalesOrderReturnLintItem</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSingleSalesOrderReturnLintItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iteration_of_mrn_line_item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_sales_order_return_line_item_field_values</name>
        <label>assign sales order return line item field values</label>
        <locationX>1283</locationX>
        <locationY>208</locationY>
        <assignmentItems>
            <assignToReference>varSingleSalesOrderReturnLintItem.CGST__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iteration_of_mrn_line_item.CGST__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleSalesOrderReturnLintItem.Doc_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>salesOrderReturnId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleSalesOrderReturnLintItem.SGST__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iteration_of_mrn_line_item.SGST__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleSalesOrderReturnLintItem.IGST__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iteration_of_mrn_line_item.IGST__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleSalesOrderReturnLintItem.Discount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iteration_of_mrn_line_item.Discount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleSalesOrderReturnLintItem.Net_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iteration_of_mrn_line_item.Net_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleSalesOrderReturnLintItem.Unit_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iteration_of_mrn_line_item.Sales_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleSalesOrderReturnLintItem.Part_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iteration_of_mrn_line_item.Part_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleSalesOrderReturnLintItem.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iteration_of_mrn_line_item.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleSalesOrderReturnLintItem.Usage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iteration_of_mrn_line_item.Usage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleSalesOrderReturnLintItem.Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iteration_of_mrn_line_item.Application__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleSalesOrderReturnLintItem.Delivery_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iteration_of_mrn_line_item.Delivery_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleSalesOrderReturnLintItem.Remark__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iteration_of_mrn_line_item.Remarks__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleSalesOrderReturnLintItem.UOM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iteration_of_mrn_line_item.UOM__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>adding_sinle_var_into_collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_validity</name>
        <label>check validity</label>
        <locationX>257</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Update_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_MRN.MRN_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales Return</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_MRN.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Received</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_mrn_line_item</targetReference>
            </connector>
            <label>valid</label>
        </rules>
    </decisions>
    <formulas>
        <name>ReturnQuantity</name>
        <dataType>Number</dataType>
        <expression>{!iteration_of_mrn_line_item.Received_QTY__c}-{!iteration_of_mrn_line_item.Accept_QTY__c}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>create sales order return {!$Flow.CurrentDateTime}</interviewLabel>
    <label>create sales order return</label>
    <loops>
        <name>iteration_of_mrn_line_item</name>
        <label>iteration of mrn line item</label>
        <locationX>944</locationX>
        <locationY>283</locationY>
        <collectionReference>get_mrn_line_item</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_sales_order_return_line_item_field_values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>create_sales_order_line_item</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_sales_order_line_item</name>
        <label>create sales order line item</label>
        <locationX>819</locationX>
        <locationY>573</locationY>
        <connector>
            <targetReference>Sales_order_Return_Created</targetReference>
        </connector>
        <inputReference>varCollectionSalesOrderReturnLintItem</inputReference>
    </recordCreates>
    <recordCreates>
        <name>create_sales_order_return1</name>
        <label>create sales order return</label>
        <locationX>680</locationX>
        <locationY>353</locationY>
        <assignRecordIdToReference>salesOrderReturnId</assignRecordIdToReference>
        <connector>
            <targetReference>iteration_of_mrn_line_item</targetReference>
        </connector>
        <inputAssignments>
            <field>Bill_To_Customer_Name__c</field>
            <value>
                <elementReference>get_MRN.Contact_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Container_No__c</field>
            <value>
                <elementReference>get_MRN.Delivery_Note__r.Container_No__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Party__c</field>
            <value>
                <elementReference>AccountLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dispatch_To_Customer_Name__c</field>
            <value>
                <elementReference>get_MRN.Contact_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Docket_LR_Date__c</field>
            <value>
                <elementReference>get_MRN.Delivery_Note__r.Docket_LR_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Docket_LR_No__c</field>
            <value>
                <elementReference>get_MRN.Delivery_Note__r.Docket_LR_No__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LC_Date__c</field>
            <value>
                <elementReference>get_MRN.Delivery_Note__r.LC_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LC_Expected_Date__c</field>
            <value>
                <elementReference>get_MRN.Delivery_Note__r.LC_Expected_date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MRN__c</field>
            <value>
                <elementReference>MrnLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Method__c</field>
            <value>
                <elementReference>get_MRN.Delivery_Note__r.Payment_Method__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Term_Days__c</field>
            <value>
                <elementReference>get_MRN.Payment_Terms_Days_NumBer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reference_Date__c</field>
            <value>
                <elementReference>get_MRN.Delivery_Note__r.Reference_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reference_No__c</field>
            <value>
                <elementReference>get_MRN.Delivery_Note__r.Reference_No__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Remark__c</field>
            <value>
                <elementReference>get_MRN.Remark__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Account__c</field>
            <value>
                <elementReference>get_MRN.Shipping_Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_City__c</field>
            <value>
                <elementReference>get_MRN.Shipping_Account__r.ShippingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Country__c</field>
            <value>
                <elementReference>get_MRN.Shipping_Account__r.ShippingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_State_Province__c</field>
            <value>
                <elementReference>get_MRN.Shipping_Account__r.ShippingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Street__c</field>
            <value>
                <elementReference>get_MRN.Shipping_Account__r.ShippingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Zip_Postal_Code__c</field>
            <value>
                <elementReference>get_MRN.Shipping_Account__r.ShippingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transportation_Mode__c</field>
            <value>
                <elementReference>get_MRN.Delivery_Note__r.Mode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transporter_Name__c</field>
            <value>
                <elementReference>get_MRN.Transporter_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vehicle_No__c</field>
            <value>
                <elementReference>get_MRN.Vehicle_No__c</elementReference>
            </value>
        </inputAssignments>
        <object>Sales_Order_Return__c</object>
    </recordCreates>
    <recordLookups>
        <name>get_MRN</name>
        <label>get MRN</label>
        <locationX>67</locationX>
        <locationY>302</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_validity</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>MRN__c</object>
    </recordLookups>
    <recordLookups>
        <name>get_mrn_line_item</name>
        <label>get mrn  line item</label>
        <locationX>281</locationX>
        <locationY>510</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Sales_Order_Return</targetReference>
        </connector>
        <filters>
            <field>MRN__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>MRN_Line_Item__c</object>
    </recordLookups>
    <screens>
        <name>Create_Sales_Order_Return</name>
        <label>Create Sales Order Return</label>
        <locationX>499</locationX>
        <locationY>362</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>create_sales_order_return1</targetReference>
        </connector>
        <fields>
            <name>MrnLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>MRN__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>MRN Number</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Sales_Order_Return__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>get_MRN.Id</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AccountLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Customer_Party__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>OEM/Customer</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Sales_Order_Return__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>get_MRN.OEM_Customer__r.Id</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Sales_order_Return_Created</name>
        <label>Sales order Return Created</label>
        <locationX>1012</locationX>
        <locationY>594</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccesfulCreatedSlesOrderReturn</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 18px; color: rgb(15, 222, 39);&quot;&gt;Sales Order Return Successfully Created&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_Fields</name>
        <label>Update Fields</label>
        <locationX>475</locationX>
        <locationY>50</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>errrormessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px; color: rgb(234, 16, 16);&quot;&gt;Please Update Stage to Received and MRN Type to SalesReturn  In order to create sales order return&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>get_MRN</startElementReference>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>salesOrderReturnId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCollectionSalesOrderReturnLintItem</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Sales_Order_Return_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>varSingleSalesOrderReturnLintItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Sales_Order_Return_Line_Item__c</objectType>
    </variables>
</Flow>
