force-app/main/default/flows/Create_Quote_On_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>choiceAMC</name>
        <choiceText>AMC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AMC</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceSales</name>
        <choiceText>Sales</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sales</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceService</name>
        <choiceText>Service</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Service</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Screen_Quote_type</name>
        <label>Check Screen Quote type</label>
        <locationX>300</locationX>
        <locationY>427</locationY>
        <defaultConnector>
            <targetReference>Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Accepted</name>
            <conditionLogic>(1 AND ( 3 OR 4 )) OR (2 AND  5)</conditionLogic>
            <conditions>
                <leftValueReference>get_opportunity_id.Enquiry_Type_Contain_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_opportunity_id.Enquiry_Type_Contain_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Quote_Record_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceAMC</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Quote_Record_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceService</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Quote_Record_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceSales</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_recordtype_id</targetReference>
            </connector>
            <label>Accepted</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_check_record_type</name>
        <label>decision check record type</label>
        <locationX>510</locationX>
        <locationY>180</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>sales</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Quote_Record_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceSales</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_sales_quote</targetReference>
            </connector>
            <label>sales</label>
        </rules>
        <rules>
            <name>amc</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Quote_Record_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceAMC</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_quote_amc_recordtype</targetReference>
            </connector>
            <label>amc</label>
        </rules>
        <rules>
            <name>service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Quote_Record_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceService</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_quote_service_recordtype1</targetReference>
            </connector>
            <label>service</label>
        </rules>
    </decisions>
    <interviewLabel>Create Quote On Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Quote On Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_quote_amc_recordtype</name>
        <label>create quote amc recordtype</label>
        <locationX>821</locationX>
        <locationY>382</locationY>
        <inputAssignments>
            <field>Contact_Name__c</field>
            <value>
                <elementReference>ContactScreen.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Party__c</field>
            <value>
                <elementReference>CustomerPartyScreen.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duration_of_contract__c</field>
            <value>
                <elementReference>get_custom_metadata.Duration_of_contract__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Excluded_Services__c</field>
            <value>
                <elementReference>get_custom_metadata.Excluded_Services__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Indemnity_Limitation_of_Liability__c</field>
            <value>
                <elementReference>get_custom_metadata.Indemnity_Limitation_of_Liability__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Obligations_of_the_customer__c</field>
            <value>
                <elementReference>get_custom_metadata.Obligations_of_the_customer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>Opportunity.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>get_recordtype_id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Remark__c</field>
            <value>
                <elementReference>get_opportunity_id.Remark__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scope_of_the_Service_Agreement__c</field>
            <value>
                <elementReference>get_custom_metadata.Scope_of_the_Service_Agreement__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Account__c</field>
            <value>
                <elementReference>get_opportunity_id.Shipping_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_City__c</field>
            <value>
                <elementReference>get_opportunity_id.Shipping_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Country__c</field>
            <value>
                <elementReference>get_opportunity_id.Shipping_Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_State_Province__c</field>
            <value>
                <elementReference>get_opportunity_id.Shipping_State_Province__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Street__c</field>
            <value>
                <elementReference>get_opportunity_id.Shipping_Street__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Zip_Postal_Code__c</field>
            <value>
                <elementReference>get_opportunity_id.Shipping_Zip_Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Term_and_Condition_rich__c</field>
            <value>
                <elementReference>Term_and_Condition.Content__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Termination__c</field>
            <value>
                <elementReference>get_custom_metadata.Termination__c</elementReference>
            </value>
        </inputAssignments>
        <object>Quote__c</object>
    </recordCreates>
    <recordCreates>
        <name>create_quote_service_recordtype1</name>
        <label>create quote service recordtype</label>
        <locationX>903</locationX>
        <locationY>183</locationY>
        <inputAssignments>
            <field>Contact_Name__c</field>
            <value>
                <elementReference>ContactScreen.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Party__c</field>
            <value>
                <elementReference>CustomerPartyScreen.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duration_of_contract__c</field>
            <value>
                <elementReference>get_custom_metadata.Duration_of_contract__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Excluded_Services__c</field>
            <value>
                <elementReference>get_custom_metadata.Excluded_Services__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Indemnity_Limitation_of_Liability__c</field>
            <value>
                <elementReference>get_custom_metadata.Indemnity_Limitation_of_Liability__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Obligations_of_the_customer__c</field>
            <value>
                <elementReference>get_custom_metadata.Obligations_of_the_customer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>Opportunity.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>get_recordtype_id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Remark__c</field>
            <value>
                <elementReference>get_opportunity_id.Remark__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scope_of_the_Service_Agreement__c</field>
            <value>
                <elementReference>get_custom_metadata.Scope_of_the_Service_Agreement__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Account__c</field>
            <value>
                <elementReference>get_opportunity_id.Shipping_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_City__c</field>
            <value>
                <elementReference>get_opportunity_id.Shipping_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Country__c</field>
            <value>
                <elementReference>get_opportunity_id.Shipping_Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_State_Province__c</field>
            <value>
                <elementReference>get_opportunity_id.Shipping_State_Province__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Street__c</field>
            <value>
                <elementReference>get_opportunity_id.Shipping_Street__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Zip_Postal_Code__c</field>
            <value>
                <elementReference>get_opportunity_id.Shipping_Zip_Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Term_and_Condition_rich__c</field>
            <value>
                <elementReference>Term_and_Condition.Content__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Termination__c</field>
            <value>
                <elementReference>get_custom_metadata.Termination__c</elementReference>
            </value>
        </inputAssignments>
        <object>Quote__c</object>
    </recordCreates>
    <recordCreates>
        <name>create_sales_quote</name>
        <label>create sales quote</label>
        <locationX>836</locationX>
        <locationY>22</locationY>
        <inputAssignments>
            <field>Contact_Name__c</field>
            <value>
                <elementReference>ContactScreen.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Party__c</field>
            <value>
                <elementReference>CustomerPartyScreen.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>Opportunity.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Term__c</field>
            <value>
                <elementReference>get_opportunity_id.Payment_Terms__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>get_recordtype_id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Remark__c</field>
            <value>
                <elementReference>get_opportunity_id.Remark__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Account__c</field>
            <value>
                <elementReference>get_opportunity_id.Shipping_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_City__c</field>
            <value>
                <elementReference>get_opportunity_id.Shipping_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Country__c</field>
            <value>
                <elementReference>get_opportunity_id.Shipping_Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_State_Province__c</field>
            <value>
                <elementReference>get_opportunity_id.Shipping_State_Province__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Street__c</field>
            <value>
                <elementReference>get_opportunity_id.Shipping_Street__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Zip_Postal_Code__c</field>
            <value>
                <elementReference>get_opportunity_id.Shipping_Zip_Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Term_and_Condition_rich__c</field>
            <value>
                <elementReference>Term_and_Condition.Content__c</elementReference>
            </value>
        </inputAssignments>
        <object>Quote__c</object>
    </recordCreates>
    <recordLookups>
        <name>get_custom_metadata</name>
        <label>get custom metadata</label>
        <locationX>383</locationX>
        <locationY>181</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Term_and_Condition</targetReference>
        </connector>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Quote_Record_Type</elementReference>
            </value>
        </filters>
        <object>Quote_Field_Update__mdt</object>
    </recordLookups>
    <recordLookups>
        <name>get_opportunity_id</name>
        <label>get opportunity id</label>
        <locationX>58</locationX>
        <locationY>157</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_opportunity_ine_item</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Opportunity__c</object>
    </recordLookups>
    <recordLookups>
        <name>get_opportunity_ine_item</name>
        <label>get opportunity ine item</label>
        <locationX>53</locationX>
        <locationY>275</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Quote</targetReference>
        </connector>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_opportunity_id.Id</elementReference>
            </value>
        </filters>
        <object>Line_Item__c</object>
    </recordLookups>
    <recordLookups>
        <name>get_recordtype_id</name>
        <label>get recordtype id</label>
        <locationX>249</locationX>
        <locationY>168</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_custom_metadata</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Quote_Record_Type</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Quote__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
    </recordLookups>
    <recordLookups>
        <name>Term_and_Condition</name>
        <label>Term and Condition</label>
        <locationX>431</locationX>
        <locationY>44</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_check_record_type</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Quote_Record_Type</elementReference>
            </value>
        </filters>
        <object>Term_and_Condition__c</object>
    </recordLookups>
    <screens>
        <name>Create_Quote</name>
        <label>Create Quote</label>
        <locationX>91</locationX>
        <locationY>446</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Screen_Quote_type</targetReference>
        </connector>
        <fields>
            <name>CustomerPartyScreen</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Customer_Party__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Quote__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Customer Party</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>get_opportunity_id.OEM_Customer__r.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ContactScreen</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Contact_Name__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Contact Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Quote__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>get_opportunity_id.Contact_Person__r.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Opportunity</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Opportunity__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Enquiry</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Quote__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>get_opportunity_id.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Quote_Record_Type</name>
            <choiceReferences>choiceSales</choiceReferences>
            <choiceReferences>choiceService</choiceReferences>
            <choiceReferences>choiceAMC</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Quote Record Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error!!!</label>
        <locationX>544</locationX>
        <locationY>472</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(255, 0, 0); font-size: 18px;&quot;&gt;Please select the correct Quote Record Type.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>get_opportunity_id</startElementReference>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
