force-app/main/default/flows/MRN_Indent_Sales_Officer_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Alert_to_Indent_Sales_Officer</name>
        <label>Email Alert to Indent Sales Officer</label>
        <locationX>673</locationX>
        <locationY>648</locationY>
        <actionName>MRN_Line_Item__c.MRN_Indent_Sales_officer_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>MLN_Loop</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>MLN_Loop.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>Check_Indent_Sales_Officer</name>
        <label>Check Indent Sales Officer</label>
        <locationX>390</locationX>
        <locationY>516</locationY>
        <defaultConnector>
            <targetReference>MLN_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MLN_Loop.Indent_Sales_Officer_Lookup__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MLN_Loop.Received_QTY__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MLN_Loop.Indent_Sales_Officer_Lookup__r.Email</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Alert_to_Indent_Sales_Officer</targetReference>
            </connector>
            <label>Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Stage</name>
        <label>Check Stage</label>
        <locationX>67</locationX>
        <locationY>348</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Received</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Stage__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MRN_Line_Item</targetReference>
            </connector>
            <label>Received</label>
        </rules>
    </decisions>
    <interviewLabel>MRN Indent Sales Officer Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MRN Indent Sales Officer Email</label>
    <loops>
        <name>MLN_Loop</name>
        <label>MLN Loop</label>
        <locationX>186</locationX>
        <locationY>641</locationY>
        <collectionReference>MRN_Line_Item</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Indent_Sales_Officer</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>MRN_Line_Item</name>
        <label>MRN Line Item</label>
        <locationX>176</locationX>
        <locationY>504</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MLN_Loop</targetReference>
        </connector>
        <filters>
            <field>MRN__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>MRN_Line_Item__c</object>
    </recordLookups>
    <startElementReference>Check_Stage</startElementReference>
    <status>Active</status>
</Flow>
