force-app/main/default/flows/Product_Part_Stock_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Stock_List_Assignment</name>
        <label>Stock List Assignment</label>
        <locationX>803</locationX>
        <locationY>530</locationY>
        <assignmentItems>
            <assignToReference>Stocklist</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleStock</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Warehouseloop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stock_value_assign</name>
        <label>Stock value assign</label>
        <locationX>907</locationX>
        <locationY>330</locationY>
        <assignmentItems>
            <assignToReference>SingleStock.Product_Part__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleStock.Bin_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Available</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleStock.Defected_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleStock.Freeze_Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleStock.Minimum_Stock__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleStock.Product_In__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleStock.Product_Out__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleStock.Threshold_Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleStock.Ware_House__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Warehouseloop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Stock_List_Assignment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Warehouse_Check</name>
        <label>Warehouse Check</label>
        <locationX>677</locationX>
        <locationY>124</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WareHouse</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Warehouseloop</targetReference>
            </connector>
            <label>Available</label>
        </rules>
    </decisions>
    <interviewLabel>Product Part Stock Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Product Part Stock Creation</label>
    <loops>
        <name>Warehouseloop</name>
        <label>Warehouseloop</label>
        <locationX>687</locationX>
        <locationY>329</locationY>
        <collectionReference>WareHouse</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Stock_value_assign</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Stock</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Stock</name>
        <label>Create Stock</label>
        <locationX>479</locationX>
        <locationY>518</locationY>
        <inputReference>Stocklist</inputReference>
    </recordCreates>
    <recordLookups>
        <name>WareHouse</name>
        <label>WareHouse</label>
        <locationX>528</locationX>
        <locationY>122</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Warehouse_Check</targetReference>
        </connector>
        <object>Ware_House__c</object>
    </recordLookups>
    <startElementReference>WareHouse</startElementReference>
    <status>Active</status>
    <variables>
        <name>SingleStock</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Stock__c</objectType>
    </variables>
    <variables>
        <name>Stocklist</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Stock__c</objectType>
    </variables>
</Flow>
