force-app/main/default/flows/Quote_Sync_Line_items.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_new_Charges_to_List</name>
        <label>Add new Charges to List</label>
        <locationX>314</locationX>
        <locationY>3806</locationY>
        <assignmentItems>
            <assignToReference>CloneChargesList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ChargesRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clone_Charges</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>adding_line_item_to_list</name>
        <label>adding line item to list</label>
        <locationX>445</locationX>
        <locationY>2858</locationY>
        <assignmentItems>
            <assignToReference>newLineItemVarLoop</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newLineItemSingleVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>line_item_loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Charges_Clone</name>
        <label>Charges Clone</label>
        <locationX>314</locationX>
        <locationY>3566</locationY>
        <assignmentItems>
            <assignToReference>ChargesRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Clone_Charges</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Charges_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>line_item_field_Assignment</name>
        <label>line item field Assignment</label>
        <locationX>578</locationX>
        <locationY>2643</locationY>
        <assignmentItems>
            <assignToReference>newLineItemSingleVar.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>line_item_loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newLineItemSingleVar.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Quote_id.Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Amount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>line_item_loop.Net_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quan</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>oneunit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>adding_line_item_to_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>line_item_opportunity_id_null</name>
        <label>line item opportunity  id null</label>
        <locationX>1205</locationX>
        <locationY>1424</locationY>
        <assignmentItems>
            <assignToReference>opplineitemsinglevar.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_all_Line_Item_Related_to_opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opplineitemsinglevar.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>null</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>oppLine_item_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>oppLine_item_collection</name>
        <label>oppLine item collection to update</label>
        <locationX>1065</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>OpportunityLineItemCollectionVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>opplineitemsinglevar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_all_Line_Item_Related_to_opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Charges_Fields</name>
        <label>Update Charges Fields</label>
        <locationX>314</locationX>
        <locationY>3686</locationY>
        <assignmentItems>
            <assignToReference>ChargesRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChargesRecord.Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChargesRecord.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Quote_id.Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_new_Charges_to_List</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>null</name>
        <dataType>String</dataType>
    </constants>
    <constants>
        <name>oneunit</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>check_AllQuote_LineItem_Ids</name>
        <label>check AllQuote LineItem Ids</label>
        <locationX>1098</locationX>
        <locationY>414</locationY>
        <defaultConnector>
            <targetReference>Error_Msg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IdCheck</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Quote_Line_ItemS</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Quote_Status</targetReference>
            </connector>
            <label>IdCheck</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Charges_on_Opportunity</name>
        <label>Check Charges on Opportunity</label>
        <locationX>314</locationX>
        <locationY>4238</locationY>
        <defaultConnector>
            <targetReference>Clone_charges_on_opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Charges_on_opportunity_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Charges_list_of_Opportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_opportunity_Charges</targetReference>
            </connector>
            <label>Charges on opportunity not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_Opp_Line_Item_not_null</name>
        <label>check Opp Line Item not null</label>
        <locationX>571</locationX>
        <locationY>1174</locationY>
        <defaultConnector>
            <targetReference>get_quote_line_item1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckLineItemIds</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AllOppLineItems</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_all_Line_Item_Related_to_opportunity</targetReference>
            </connector>
            <label>CheckLineItemIds</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_Opportunity_status</name>
        <label>check Opportunity status</label>
        <locationX>468</locationX>
        <locationY>686</locationY>
        <defaultConnector>
            <targetReference>get_line_item</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>stage_close_lost</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>get_opportunity.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_opportunity.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Message</targetReference>
            </connector>
            <label>stage close lost</label>
        </rules>
        <rules>
            <name>check_Quote_sync_status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_opportunity.Syncquote__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sync_Message</targetReference>
            </connector>
            <label>check Quote sync status on opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Quote_Charges_List</name>
        <label>Check Quote Charges List</label>
        <locationX>314</locationX>
        <locationY>3326</locationY>
        <defaultConnector>
            <targetReference>update_line_item_field</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Quote_Charges_List_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Charges_list_of_Quote</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clone_Charges</targetReference>
            </connector>
            <label>Quote Charges List Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkQuoteLineItem1</name>
        <label>checkQuoteLineItem1</label>
        <locationX>827</locationX>
        <locationY>1844</locationY>
        <defaultConnector>
            <targetReference>update_line_item_opportunity_field</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_ids_of_Quote_line_items</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_quote_line_item1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Quote_Line_item</targetReference>
            </connector>
            <label>check ids of Quote line items</label>
        </rules>
    </decisions>
    <decisions>
        <name>Condition_for_get_QuoteLineItem</name>
        <label>Condition for get QuoteLineItem</label>
        <locationX>468</locationX>
        <locationY>2510</locationY>
        <defaultConnector>
            <targetReference>Add_Line_Item_In_Quote_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LINEItemids</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varLineItem</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>line_item_loop</targetReference>
            </connector>
            <label>LINEItemids</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quote_Status</name>
        <label>Quote Status</label>
        <locationX>1102</locationX>
        <locationY>634</locationY>
        <defaultConnector>
            <targetReference>Status_error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Quote_id.Quote_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_opportunity</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
    </decisions>
    <interviewLabel>Quote Sync  Line items {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote Sync  Line items</label>
    <loops>
        <name>Clone_Charges</name>
        <label>Clone Charges</label>
        <locationX>226</locationX>
        <locationY>3446</locationY>
        <collectionReference>Get_Charges_list_of_Quote</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Charges_Clone</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_line_item_field</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Get_all_Line_Item_Related_to_opportunity</name>
        <label>Get all Line Item Related to opportunity</label>
        <locationX>1158</locationX>
        <locationY>1188</locationY>
        <collectionReference>AllOppLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>line_item_opportunity_id_null</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>get_quote_line_item1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>line_item_loop</name>
        <label>line item loop</label>
        <locationX>314</locationX>
        <locationY>2630</locationY>
        <collectionReference>varLineItem</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>line_item_field_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Charges_list_of_Quote</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Clone_charges_on_opportunity</name>
        <label>Clone charges on opportunity</label>
        <locationX>314</locationX>
        <locationY>4574</locationY>
        <connector>
            <targetReference>Quote_update</targetReference>
        </connector>
        <inputReference>CloneChargesList</inputReference>
    </recordCreates>
    <recordDeletes>
        <description>Delete opportunity line item which has not any quote Id</description>
        <name>Delete_Lineitem</name>
        <label>Delete Lineitem</label>
        <locationX>474</locationX>
        <locationY>535</locationY>
        <connector>
            <targetReference>check_Opportunity_status</targetReference>
        </connector>
        <faultConnector>
            <targetReference>check_Opportunity_status</targetReference>
        </faultConnector>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_opportunity.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Quote__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Line_Item__c</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_opportunity_Charges</name>
        <label>Delete opportunity Charges</label>
        <locationX>182</locationX>
        <locationY>4358</locationY>
        <connector>
            <targetReference>Clone_charges_on_opportunity</targetReference>
        </connector>
        <inputReference>Get_Charges_list_of_Opportunity</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Charges_list_of_Opportunity</name>
        <label>Get Charges list of Opportunity</label>
        <locationX>390</locationX>
        <locationY>3105</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Quote_Charges_List</targetReference>
        </connector>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Quote_id.Opportunity__c</elementReference>
            </value>
        </filters>
        <object>Charges__c</object>
    </recordLookups>
    <recordLookups>
        <name>Get_Charges_list_of_Quote</name>
        <label>Get Charges list of quote</label>
        <locationX>147</locationX>
        <locationY>3076</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Charges_list_of_Opportunity</targetReference>
        </connector>
        <filters>
            <field>Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Charges__c</object>
    </recordLookups>
    <recordLookups>
        <name>get_line_item</name>
        <label>get line item</label>
        <locationX>480</locationX>
        <locationY>2259</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Condition_for_get_QuoteLineItem</targetReference>
        </connector>
        <filters>
            <field>Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Quote_id.Id</elementReference>
            </value>
        </filters>
        <object>Line_Item__c</object>
        <outputReference>varLineItem</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Opportunity__c</queriedFields>
        <queriedFields>Net_Amount__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>get_line_item_records</name>
        <label>get line item records</label>
        <locationX>768</locationX>
        <locationY>939</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_Opp_Line_Item_not_null</targetReference>
        </connector>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_opportunity.Id</elementReference>
            </value>
        </filters>
        <object>Line_Item__c</object>
        <outputReference>AllOppLineItems</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Opportunity__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>get_opportunity</name>
        <label>get opportunity</label>
        <locationX>477</locationX>
        <locationY>426</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Delete_Lineitem</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Quote_id.Opportunity__c</elementReference>
            </value>
        </filters>
        <object>Opportunity__c</object>
    </recordLookups>
    <recordLookups>
        <name>get_Quote_id</name>
        <label>get Quote id</label>
        <locationX>765</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Quote_Line_ItemS</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Quote__c</object>
    </recordLookups>
    <recordLookups>
        <name>get_quote_line_item1</name>
        <label>get quote line item1</label>
        <locationX>826</locationX>
        <locationY>1491</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkQuoteLineItem1</targetReference>
        </connector>
        <filters>
            <field>Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Quote_id.Id</elementReference>
            </value>
        </filters>
        <object>Line_Item__c</object>
        <outputReference>AllQuoteLineItem1</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Quote__c</queriedFields>
        <queriedFields>Opportunity__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>get_Quote_Line_ItemS</name>
        <label>get Quote Line ItemS</label>
        <locationX>765</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_AllQuote_LineItem_Ids</targetReference>
        </connector>
        <filters>
            <field>Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Quote_id.Id</elementReference>
            </value>
        </filters>
        <object>Line_Item__c</object>
    </recordLookups>
    <recordUpdates>
        <name>Quote_update</name>
        <label>Quote update</label>
        <locationX>314</locationX>
        <locationY>4694</locationY>
        <connector>
            <targetReference>update_opportunity</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Quote_id.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Is_Synced__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Quote__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_line_item_field</name>
        <label>update line item field</label>
        <locationX>314</locationX>
        <locationY>4118</locationY>
        <connector>
            <targetReference>Check_Charges_on_Opportunity</targetReference>
        </connector>
        <inputReference>newLineItemVarLoop</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_line_item_opportunity_field</name>
        <label>update line item opportunity field</label>
        <locationX>622</locationX>
        <locationY>1958</locationY>
        <connector>
            <targetReference>get_line_item</targetReference>
        </connector>
        <inputReference>OpportunityLineItemCollectionVar</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_opportunity</name>
        <label>update opportunity</label>
        <locationX>314</locationX>
        <locationY>4814</locationY>
        <connector>
            <targetReference>Update_sync_quote</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Payment_Terms__c</field>
            <value>
                <elementReference>get_Quote_id.Payment_Term__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote_Number__c</field>
            <value>
                <elementReference>get_Quote_id.Quote_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Negotiation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Syncquote__c</field>
            <value>
                <elementReference>get_Quote_id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Line_Items__c</field>
            <value>
                <elementReference>quan</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Net_Line_Items_Amount__c</field>
            <value>
                <elementReference>Amount</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_sync_quote</name>
        <label>Update sync quote</label>
        <locationX>314</locationX>
        <locationY>4934</locationY>
        <connector>
            <targetReference>Success_Update_Message</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Quote_id.Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Synced__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Is_Synced__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Quote__c</object>
    </recordUpdates>
    <screens>
        <name>Add_Line_Item_In_Quote_Record</name>
        <label>Add Line Item In Quote Record</label>
        <locationX>786</locationX>
        <locationY>2510</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AddLineItemMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px; color: rgb(208, 22, 22);&quot;&gt;Please Add Line Items Related To this Quote       &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>50</locationX>
        <locationY>806</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>close_Lost_message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;Your Opportunity Related to this Quote is Closed&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Msg</name>
        <label>Error Msg</label>
        <locationX>1317</locationX>
        <locationY>410</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayMsg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 18px; color: rgb(221, 16, 30);&quot;&gt;Please add Line Items To Quote&lt;/b&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Quote_Line_item</name>
        <label>Quote Line item</label>
        <locationX>582</locationX>
        <locationY>1782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>QuoteLineItemErrorMsg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(218, 23, 23); font-size: 16px;&quot;&gt;Please Add Line Items to this Quote.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Status_error</name>
        <label>Status error</label>
        <locationX>1314</locationX>
        <locationY>634</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Status_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(228, 9, 9); font-size: 16px;&quot;&gt;Please Update Quote Status to Approved in Order to Sync !&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Update_Message</name>
        <label>Success Update Message</label>
        <locationX>314</locationX>
        <locationY>5054</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MessageSuccessUpdated</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px; color: rgb(24, 192, 91);&quot;&gt;Quote Successfully Synced&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Sync_Message</name>
        <label>Sync Message</label>
        <locationX>611</locationX>
        <locationY>842</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>get_line_item_records</targetReference>
        </connector>
        <fields>
            <name>DisplayMessageForSyncedQuoteonOpportunity</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px; color: rgb(53, 208, 109);&quot;&gt;Opportunity Related this Quote already synced With a Quote , Do You want to sync it A﻿gain?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>get_Quote_id</startElementReference>
    <status>Active</status>
    <variables>
        <name>AllOppLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Line_Item__c</objectType>
    </variables>
    <variables>
        <name>AllQuoteLineItem1</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Line_Item__c</objectType>
    </variables>
    <variables>
        <name>Amount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ChargesRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Charges__c</objectType>
    </variables>
    <variables>
        <name>CloneChargesList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Charges__c</objectType>
    </variables>
    <variables>
        <name>newLineItemSingleVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Line_Item__c</objectType>
    </variables>
    <variables>
        <name>newLineItemVarLoop</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Line_Item__c</objectType>
    </variables>
    <variables>
        <name>opplineitemsinglevar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Line_Item__c</objectType>
    </variables>
    <variables>
        <name>OpportunityLineItemCollectionVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Line_Item__c</objectType>
    </variables>
    <variables>
        <name>quan</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Line_Item__c</objectType>
    </variables>
    <variables>
        <name>VarOppLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Line_Item__c</objectType>
    </variables>
</Flow>
