force-app/main/default/flows/Stock_Threshold_Quantity_Reach.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Stock_Email</name>
        <label>Stock Email</label>
        <locationX>143</locationX>
        <locationY>255</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>EmailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>emailSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Email_Assign</name>
        <label>Email Assign</label>
        <locationX>749</locationX>
        <locationY>658</locationY>
        <assignmentItems>
            <assignToReference>Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>User_Loop.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailAddress</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>User_Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Userid</name>
        <label>Check Userid</label>
        <locationX>573</locationX>
        <locationY>664</locationY>
        <defaultConnector>
            <targetReference>User_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>User_Loop.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Group_Member_Email_Loop.UserOrGroupId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Assign</targetReference>
            </connector>
            <label>Match</label>
        </rules>
    </decisions>
    <description>Fire this flow when stock Threshold Quantity limit reach and create purchase Indent and Line-item, Also send an email and notification to respected area group.</description>
    <formulas>
        <name>PurchaseIndentLink</name>
        <dataType>String</dataType>
        <expression>HYPERLINK(&quot;/&quot;+ {!PurchaseIndentID} , &quot;Purchase Indent Link&quot; , &quot;_self&quot;)</expression>
    </formulas>
    <interviewLabel>Stock Three {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Stock Threshold Quantity Reach</label>
    <loops>
        <name>Group_Member_Email_Loop</name>
        <label>Group Member Email Loop</label>
        <locationX>503</locationX>
        <locationY>262</locationY>
        <collectionReference>Group_Member</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>User_Loop</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Stock_Email</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>User_Loop</name>
        <label>User Loop</label>
        <locationX>628</locationX>
        <locationY>453</locationY>
        <collectionReference>All_User</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Userid</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Group_Member</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Purchase_Indent</name>
        <label>Purchase Indent</label>
        <locationX>725</locationX>
        <locationY>58</locationY>
        <assignRecordIdToReference>PurchaseIndentID</assignRecordIdToReference>
        <connector>
            <targetReference>Purchase_line_item</targetReference>
        </connector>
        <inputAssignments>
            <field>Against__c</field>
            <value>
                <stringValue>Direct</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Indent_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ware_House__c</field>
            <value>
                <elementReference>Stock.Ware_House__c</elementReference>
            </value>
        </inputAssignments>
        <object>Purchase_Indent__c</object>
    </recordCreates>
    <recordCreates>
        <name>Purchase_line_item</name>
        <label>Purchase line item</label>
        <locationX>981</locationX>
        <locationY>57</locationY>
        <connector>
            <targetReference>Public_Group</targetReference>
        </connector>
        <inputAssignments>
            <field>Product_Part__c</field>
            <value>
                <elementReference>Stock.Product_Part__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purchase_Indent__c</field>
            <value>
                <elementReference>PurchaseIndentID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QTY__c</field>
            <value>
                <elementReference>Stock.Minimum_Stock__c</elementReference>
            </value>
        </inputAssignments>
        <object>Purchase_Indent_Line_Item__c</object>
    </recordCreates>
    <recordLookups>
        <name>All_User</name>
        <label>All User</label>
        <locationX>880</locationX>
        <locationY>230</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Group_Member</targetReference>
        </connector>
        <object>User</object>
    </recordLookups>
    <recordLookups>
        <name>Group_Member</name>
        <label>Group Member</label>
        <locationX>748</locationX>
        <locationY>262</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Group_Member_Email_Loop</targetReference>
        </connector>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Public_Group.Id</elementReference>
            </value>
        </filters>
        <object>GroupMember</object>
    </recordLookups>
    <recordLookups>
        <name>Public_Group</name>
        <label>Public Group</label>
        <locationX>979</locationX>
        <locationY>263</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>All_User</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Stock.Ware_House__r.State_Province__c</elementReference>
            </value>
        </filters>
        <object>Group</object>
    </recordLookups>
    <recordLookups>
        <name>Stock</name>
        <label>Stock</label>
        <locationX>465</locationX>
        <locationY>58</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Purchase_Indent</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Stock__c</object>
    </recordLookups>
    <startElementReference>Stock</startElementReference>
    <status>Active</status>
    <textTemplates>
        <description>Stock Email</description>
        <name>EmailBody</name>
        <text>Hello {!Public_Group.Name},

{!Stock.Product_Part__r.Part_Name__c} Stock ({!Stock.Name}) reach its threshold limit.
Stock Total Quantity : {!Stock.Total_Quantity__c}
A new purchase indent created for that stock.
Purchase indent Link : https://powerparts--partcrm.lightning.force.com/{!PurchaseIndentID}</text>
    </textTemplates>
    <textTemplates>
        <name>emailSubject</name>
        <text>{!Stock.Product_Part__r.Part_Name__c}  Stock Threshold limit reached</text>
    </textTemplates>
    <variables>
        <name>Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailAddress</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PurchaseIndentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
