force-app/main/default/flows/Term_and_Condition.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Check_Object</name>
        <label>Check Object</label>
        <locationX>401</locationX>
        <locationY>474</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Quote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObjectName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quote</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Quote_Record</targetReference>
            </connector>
            <label>Quote</label>
        </rules>
        <rules>
            <name>Sales_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObjectName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales Order</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Quote_Record_0</targetReference>
            </connector>
            <label>Sales Order</label>
        </rules>
    </decisions>
    <interviewLabel>Term and Condition {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Term and Condition</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Custom_Metadata</name>
        <label>Get Custom Metadata</label>
        <locationX>408</locationX>
        <locationY>267</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Object</targetReference>
        </connector>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ObjectName</elementReference>
            </value>
        </filters>
        <object>T_C_Details__mdt</object>
    </recordLookups>
    <recordUpdates>
        <name>Update_Quote_Record</name>
        <label>Update Quote Record</label>
        <locationX>234</locationX>
        <locationY>685</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Term_and_Condition__c</field>
            <value>
                <elementReference>Get_Custom_Metadata.Term_And_Condition__c</elementReference>
            </value>
        </inputAssignments>
        <object>Quote__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Quote_Record_0</name>
        <label>Update Quote Record</label>
        <locationX>625</locationX>
        <locationY>678</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Term_and_Condition__c</field>
            <value>
                <elementReference>Get_Custom_Metadata.Term_And_Condition__c</elementReference>
            </value>
        </inputAssignments>
        <object>Sales_Order__c</object>
    </recordUpdates>
    <startElementReference>Get_Custom_Metadata</startElementReference>
    <status>Active</status>
    <variables>
        <name>ObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
